@charset "UTF-8";
/*
* CD44 Design System - Main SCSS
*/


/* ----------------------------*/
/* ------ - 1 - Config ------- */
/* --------------------------- */

// Base KNACSS config
@import "./node_modules/knacss/sass/_config/variables";
@import "./node_modules/knacss/sass/_config/mixins";

// CD44 config
@import "_config/variables";
@import "_config/contextual-variables-aqua.scss";        // Choose the right contextual file - and only one /!\
//@import "_config/contextual-variables-bright.scss";  // Switch contextual files according to actual website  /!\
@import "_config/mixins";

/* -------------------------------*/
/* ------ - 2 - Libraries ------- */
/* ------------------------------ */

// KNACSS Libraries

@import "./node_modules/knacss/sass/_library/print";                // print quick reset
@import "./node_modules/knacss/sass/_library/utilities";            // width and spacer helpers
@import "./node_modules/knacss/sass/_library/grillade-grid";        // Grid System 
@import "./node_modules/knacss/sass/_library/layout";               // alignment, modules, positionning

// KNACSS modified Libraries

@import "_libraries/base";
@import "_libraries/ds44-grid";                                     // DS44 specific grid custo
@import "_libraries/ds44-utils";                                    // DS44 utilities
@import "_libraries/responsive";                                    // Responsive Web Design helpers

// CD44 specific Libraries

@import "_libraries/fonts"; 


/* ---------------------------------------------------*/
/* ------ - 4 - CD44 components               ------- */
/* -------------------------------------------------- */

//@import "components/collapser";
//@import "components/calendar";
//@import "components/card";
//@import "components/carrousel";
//@import "components/templates.scss";
//@import "components/boxes.scss";
//@import "components/list.scss";
//@import "components/forms.scss";
//@import "components/buttons.scss";
//@import "components/header.scss";
//@import "components/breadcrumb.scss";
//@import "components/footer.scss";
@import "components/menu.scss";
@import "components/onglets.scss";
//@import "components/overlays.scss";
@import "components/share.scss";
//@import "components/images.scss";
//@import "components/wysiwyg.scss";
//@import "components/carrousel.scss";
//@import "components/timeline.scss";
//@import "tooltip/abstract.scss";
//@import "aside/summary.scss";
