/* --------------------------------------------------- */
/* Applis mobiles Pont de St Nazaire et Bacs de Loire  */
/* --------------------------------------------------- */

/* TITRES */

.h2-app-like {
	display: block;
	@include ds44-font-sizes(h2);
	@if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
		font-family: $ds44-font-family-headings;
	}
	font-weight: $weight-bold;
	padding: 0 1.5rem;
	line-height: 1.2;
	display: block;
	background: transparent;
}

.h4-app-bacs {
	display: block;
	@include ds44-font-sizes(bigText);
	@if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
		font-family: $ds44-font-family-headings;
	}
	font-weight: $weight-bold;
	padding: 1rem 0;
	line-height: 1.2;
	display: block;
	background: transparent;
}

.ds44-app-titreTraversee_haut {
	padding-bottom: 2px;
	display: block;
	border-bottom: 1px solid $ds44-lightgray;
	margin-bottom: 2px;
	margin-right: 1rem;
}


.ds44-w33 {
    width: calc(100% / 3);
}
.ds44-w66 {
    width: 66%;
}


/* Menu burger */

.ds44-logoContainer-app img {
    height: 50px;
    max-width: none;
}

.ds44-menu-app {
	height: 100vh;
}

.ds44-linkMenuApp {
	@include ds44-font-sizes(menuHeaders);
	@if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base {
		font-family: $ds44-font-family-headings;
	  }
	text-decoration: none;
	font-weight: $weight-medium;
	display: block;
	padding: 1rem 1rem 1rem 0;
	position: relative;
}

/* Tuiles */

.ds44-app-tuile {

	p { @include ds44-font-sizes(smallText); }
	line-height: 1.3;

	.ds44-titre-alerte {
		font-size: 1.2142857143em;
		font-weight: bold;
	}

	.ds44-valignTop .icon {
		margin-top: -5px;
		margin-right: 5px;
	}
	p {
		margin-bottom: .2em;
	}
	&__bacs {
	}
}
.ds44-pictoTuile-app {
	width: 35%;
	min-width: 105px;

	&--bus {
		background-color: $ds44-app-color;
		min-height: 110px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.ds44-numBus {
		font-size: 2.375em; // 38px
		margin-bottom: 0;
	}
}
.ds44-numBus {
	@if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
		font-family: $ds44-font-family-headings;
	  }
	text-align: center;
    font-size: 2.375em; // 38px
    font-weight: bold;

}
.ds44-pont-horaire {
    @include ds44-font-sizes(bigText);
    font-weight: bold;
}
.ds44-bacs-horaire, p.ds44-bacs-horaire {
	@include ds44-font-sizes(xxlText);
	@if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
		font-family: $ds44-font-family-headings;
	  }
	font-weight: bold;
	margin: 0;
	display: block;
	width: 100%;

	&--small {
		font-size: 1.6rem;
		display: block;
		font-weight: normal;
	}

	&--actif {
		font-size: 3.0625em;
	}
}

@media (min-width: $ds44-medium - .0625) {

	.ds44-bacs-horaire, p.ds44-bacs-horaire {
		&--actif {
			font-size: 4em;
		}
	}
}

.ds44-bacs-alerte {
	font-weight: bold;
}
.ds44-bacs-horaires-container {
	min-height: 88px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*	----
	Bloc d'infos dépliable
	*/

.ds44-map-infos {
	box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.25);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	z-index: 100;
	position: relative;
	margin-top: -15px;
	background-color: $ds44-background-base;
}

/* Bouton d'ouverture du bloc d'infos */

.ds44-appBtn-slideUp {
	width: 100%;
	padding: $ds44-medium-vmargin 0;
}

/* OVERLAYS */

.ds44-app-pictoOverlay {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	vertical-align: top;
}

/* -----
	Gestion de la carte SVG PONT DE ST NAZAIRE
	---
*/

#debug{
	position: relative;
	z-index: 5;
}

#map-container {
  //position: fixed;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#map-container svg {
	/*position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);*/
	position: relative;
	top: 0;
	transform: translate(-50%, 0);
	height: 100%;
	width: auto;
	left: 50%;
}
/* masquage par defaut */
#map-container svg{
	#voie1, #voie1-seule, #voie1-travaux, #voie1-particulier,
	#voie2n, #voie2n-seule, #voie2s, #voie2s-seule, #voie2-travaux, #voie2-particulier,
	#voie3, #voie3-seule, #voie3-travaux, #voie3-particulier,
	#pointilles1, #pointilles2,
	#echangeur-sud-voie1-fleche, #echangeur-sud-voie1-croix,
	#echangeur-sud-voie2-fleche, #echangeur-sud-voie2-croix,
	#echangeur-sud-voie3-fleche, #echangeur-sud-voie3-croix,
	#echangeur-nord-voie1-fleche, #echangeur-nord-voie1-croix,
	#echangeur-nord-voie2-fleche, #echangeur-nord-voie2-croix,
	#echangeur-nord-voie3-fleche, #echangeur-nord-voie3-croix,
	#traficolor-nord g[id*=trafic-vert], #traficolor-nord g[id*=trafic-orange], #traficolor-nord g[id*=trafic-rouge],
	#traficolor-sud g[id*=trafic-vert], #traficolor-sud g[id*=trafic-orange], #traficolor-sud g[id*=trafic-rouge],
	#perturbation-vent, #perturbation-nord-ouest, #perturbation-nord-est, #perturbation-sud-ouest, #perturbation-sud-est, #perturbation-a, #perturbation-b, #perturbation-c, #perturbation-d, #perturbation-e
	{
	  display: none;
	}
	#perturbation-vent, #perturbation-nord-ouest, #perturbation-nord-est, #perturbation-sud-ouest, #perturbation-sud-est, #perturbation-a, #perturbation-b, #perturbation-c, #perturbation-d, #perturbation-e{
		g[id*=panne], g[id*=accident], g[id*=deviation]{
			display: none;
		}
	}
}

.pertubation-visible{
	display: block!important;
}

/* Mode de circulation : Affichage des voies */
$ModesCirculation012: 'm012', 'mu012';
$ModesCirculation102: 'm102', 'me102a', 'me102ab', 'me102b', 'me102bc', 'me102c', 'me102cd', 'me102d', 'me102de', 'me102e','mu102n','mu102s';
$ModesCirculation112: 'm112', 'me112a', 'me112ab', 'me112b', 'me112bc', 'me112c', 'me112cd', 'me112d', 'me112de', 'me112e','mu112n','mu112s';
$ModesCirculation120: 'm120', 'mu120';
$ModesCirculation122: 'm122', 'me122a', 'me122ab', 'me122b', 'me122bc', 'me122c', 'me122cd', 'me122d', 'me122de', 'me122e';
#main-container[data-mode-circulation='mode-particulier']{
	#map-container svg{
		#voie1-particulier, #voie2-particulier, #voie3-particulier{
		  display:block;
		}
		#traficolor-nord g[id*=trafic-vert], #traficolor-nord g[id*=trafic-orange], #traficolor-nord g[id*=trafic-rouge],
		#traficolor-sud g[id*=trafic-vert], #traficolor-sud g[id*=trafic-orange], #traficolor-sud g[id*=trafic-rouge]{
		  display:none;
		}
	}
}
#main-container[data-mode-circulation='m000']{
	#map-container svg{
		#voie1-travaux, #voie2-travaux, #voie3-travaux,
		#echangeur-nord-voie1-croix,#echangeur-nord-voie2-croix,#echangeur-nord-voie3-croix,
		#echangeur-sud-voie1-croix,#echangeur-sud-voie2-croix,#echangeur-sud-voie3-croix{
		  display:block;
		}
		#traficolor-nord g[id*=trafic-vert], #traficolor-nord g[id*=trafic-orange], #traficolor-nord g[id*=trafic-rouge],
		#traficolor-sud g[id*=trafic-vert], #traficolor-sud g[id*=trafic-orange], #traficolor-sud g[id*=trafic-rouge]{
		  display:none;
		}
	}
}
@each $i in $ModesCirculation012 {
  #main-container[data-mode-circulation=#{$i}] {
    #voie1-travaux, #voie2n-seule, #voie3-seule,
		#echangeur-nord-voie1-croix,#echangeur-nord-voie2-fleche,#echangeur-nord-voie3-croix,
		#echangeur-sud-voie1-croix,#echangeur-sud-voie2-croix,#echangeur-sud-voie3-fleche,
	  #pointilles1, #pointilles2{
	  display:block;
	}
  }
}
@each $i in $ModesCirculation102 {
  #main-container[data-mode-circulation=#{$i}] {
    #voie1-seule, #voie2-travaux, #voie3-seule,
		#echangeur-nord-voie1-fleche,#echangeur-nord-voie2-croix,#echangeur-nord-voie3-croix,
		#echangeur-sud-voie1-croix,#echangeur-sud-voie2-croix,#echangeur-sud-voie3-fleche,
	  #pointilles1,#pointilles2{
	  display:block;
	}
  }
}
@each $i in $ModesCirculation112 {
  #main-container[data-mode-circulation=#{$i}] {
    #voie1, #voie2n, #voie3-seule,
		#echangeur-nord-voie1-fleche,#echangeur-nord-voie2-fleche,#echangeur-nord-voie3-croix,
		#echangeur-sud-voie1-croix,#echangeur-sud-voie2-croix,#echangeur-sud-voie3-fleche,
	  #pointilles2{
	  display:block;
	}
  }
}
@each $i in $ModesCirculation120 {
  #main-container[data-mode-circulation=#{$i}] {
    #voie1-seule, #voie2s-seule, #voie3-travaux,
		#echangeur-nord-voie1-fleche,#echangeur-nord-voie2-croix,#echangeur-nord-voie3-croix,
		#echangeur-sud-voie1-croix,#echangeur-sud-voie2-fleche,#echangeur-sud-voie3-croix,
	  #pointilles1,#pointilles2{
	  display:block;
	}
  }
}
@each $i in $ModesCirculation122 {
  #main-container[data-mode-circulation=#{$i}] {
    #voie1-seule, #voie2s, #voie3,
		#echangeur-nord-voie1-fleche,#echangeur-nord-voie2-croix,#echangeur-nord-voie3-croix,
		#echangeur-sud-voie1-croix,#echangeur-sud-voie2-fleche,#echangeur-sud-voie3-fleche,
	  #pointilles1{
	  display:block;
	}
  }
}

/* Qualité du Trafic */
$TraficNord: 'vert', 'orange', 'rouge';
@each $i in $TraficNord {
  #main-container[data-trafic-nord=#{$i}] {
    #voie1, #voie1-seule, #voie2n, #voie2n-seule{
		  path[id*=voie-couleur]{
			  @if $i == 'vert' {
				  fill:#99e6d1;
			  }
			  @if $i == 'orange' {
				  fill:#ffc134;
			  }
			  @if $i == 'rouge' {
				  fill:#dc3545;
			  }
		  }
		  path[id*=fleche-couleur]{
			  @if $i == 'vert' {
				  fill:#000;
			  }
			  @if $i == 'orange' {
				  fill:#000;
			  }
			  @if $i == 'rouge' {
				  fill:#fff;
			  }
		  }
	}
	#traficolor-nord g[id*=trafic-#{$i}]{
		display: block;
	}
  }

}
$TraficSud: 'vert', 'orange', 'rouge';
@each $i in $TraficSud {
  #main-container[data-trafic-sud=#{$i}] {
	#voie2s, #voie2s-seule, #voie3, #voie3-seule{
		  path[id*=voie-couleur]{
			  @if $i == 'vert' {
				  fill:#99e6d1;
			  }
			  @if $i == 'orange' {
				  fill:#ffc134;
			  }
			  @if $i == 'rouge' {
				  fill:#dc3545;
			  }
		  }
		  path[id*=fleche-couleur]{
			  @if $i == 'vert' {
				  fill:#000;
			  }
			  @if $i == 'orange' {
				  fill:#000;
			  }
			  @if $i == 'rouge' {
				  fill:#fff;
			  }
		  }

	}
	#traficolor-sud g[id*=trafic-#{$i}]{
		display: block;
	}
  }
}


/* -----
	Gestion de la carte SVG BACS DE LOIRE
	---
*/

#map-container.map-container--bacs svg {
	width: 100%;
}

@media (min-width: $ds44-small - .0625) {

	#map-container.map-container--bacs svg {
		width: 75%;
	}

}

@media (min-width: $ds44-medium - .0625) {

	#map-container.map-container--bacs svg {
		width: 55%;
	}

}

@media (min-width: $ds44-large - .0625) {

	#map-container.map-container--bacs svg {
		width: 40%;
	}

}


/* masquage par defaut */
#map-container svg {
	#perturbation-bi-i, #perturbation-c-lp {
		display: none;
	}
}

.pertubation-visible {
	display: block!important;
}
