// font-size Mixin
// compiles to font-size mobile + font-size desktop on small-plus devices
// ex. h2 { @include ds44-font-size(h2);}
@mixin ds44-font-sizes($elem) {
  $q: map-get($ds44-font-sizes, $elem);
  $mob: map-get($q, "mobile");
  $tab: map-get($q, "tablet");
  $desk: map-get($q, "desktop");
  font-size: $mob;
  @include respond-to("small-up") {
    font-size: $tab;
  }
  @include respond-to("large-up") {
    font-size: $desk;
  }
}

// Additionnal "utility" breakpoints aliases
// ex. @include respond-to("medium-up") {...}
$bp-aliases: (
  'tiny'   : (max-width: #{$ds44-tiny - 1}),
  'small'  : (max-width: #{$ds44-small - 1}),
  'medium' : (max-width: #{$ds44-medium - 1}),
  'large' : (max-width: #{$ds44-large - 1}),
  'extra-large'  : (max-width: #{$ds44-extra-large - 1}),
  'tiny-up'   : (min-width: #{$ds44-tiny}),
  'small-up'  : (min-width: #{$ds44-small}),
  'medium-up' : (min-width: #{$ds44-medium}),
  'large-up' : (min-width: #{$ds44-large}),
  'extra-large-up' : (min-width: #{$ds44-extra-large}),
  'retina' : (min-resolution: 2dppx)
);
