/* ----------------------------- */
/* ==Base (basic styles)         */
/* ----------------------------- */

/* disable animations styles when reduced motion is enabled */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* switching to border-box model for all elements */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* avoid min-width: auto on flex and grid children */
  min-width: 0;
  min-height: 0;
}

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}

body {
  margin: 0;
  @include ds44-font-sizes(base);
  background-color: $ds44-background-base;
  color: $ds44-color-base;
  font-family: $ds44-font-family-base;
  line-height: $ds44-line-height-base;
}

/* Main structure */

.ds44-container-fluid {
  padding: 0 $ds44-container-hmargin;
}
.ds44-inner-container {
  margin: 0 auto;
  padding: $ds44-container-vmargin $ds44-container-hmargin;
  max-width:$ds44-max-size;
}
.ds44-alternate-container {
  background-color: $ds44-light-bg;
}

/* Links */
a {
  color: $ds44-link-color;
  text-decoration: $ds44-link-decoration;
  transition: color .4s ease-out;

  &:focus,
  &:hover,
  &:active {
    color: $ds44-link-color-hover;
    text-decoration: $ds44-link-decoration-hover;
  }
}

/* Headings */
h1, .h1-like {
  @include ds44-font-sizes(h1);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  font-weight: $weight-medium;
  line-height: 1;
  padding: 0;
}

h2, .h2-like {
  @include ds44-font-sizes(h2);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  font-weight: $weight-bold;
  padding: 0 1.5rem;
  line-height: 1.2;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+40,99e6d1+40,99e6d1+65,ffffff+65 */
  background: $ds44-contextual-color; /* Old browsers */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 55%,$ds44-contextual-color 55%);
}

h3, .h3-like {
  @include ds44-font-sizes(h3);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  background: transparent;
  font-weight: $weight-bold;
  padding: 0;
}

h4, .h4-like {
  @include ds44-font-sizes(h4);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  background: transparent;
  font-weight: $weight-medium;
  padding: 0;
}

h5, .h5-like {
  @include ds44-font-sizes(h5);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  background: transparent;
  font-weight: $weight-medium;
  padding: 0;
}

h6, .h6-like {
  @include ds44-font-sizes(h6);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  background: transparent;
  font-weight: $weight-medium;
  padding: 0;
}

.ds44-smallText {
  @include ds44-font-sizes(smallText);
}

.ds44-titleContainer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: $ds44-padding-large $ds44-padding-xlarge;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ds44-introduction, .ds44-introduction-like {
  @include ds44-font-sizes(chapoStyle);
  @if variable_exists(font-family-headings) and $font-family-headings != $font-family-base{
    font-family: $font-family-headings;
  }
  background: transparent;
  font-weight: $weight-bold;
  margin-bottom: $ds44-components-vmargin;
}

/* Texts */

.ds44-text--colorInvert {
  color: $ds44-light-color;

  a {
    color: $ds44-light-color;
  }

}

figcaption {
  font-size: 1.4rem;
  color: $ds44-color-soft-text;
}

/* Vertical rythm */
h1,
h2,
h3,
h4,
h5,
h6,
dd {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}

p,
address,
ol,
ul,
dl,
blockquote {
  margin-top: 0;
  margin-bottom: $ds44-paragraph-margin-bottom;
}

/* Avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol,
ol ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Remove bullets and padding for lists */
ol, ul {
  list-style: none;
  padding-left: 0;
}

/* Max values */
img,
table,
td,
blockquote,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
}

/* Styling elements */

img {
  vertical-align: middle;
}

sup,
sub {
  vertical-align: 0;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

blockquote {
  position: relative;
  padding-left: 3em;
  min-height: 2em;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: 0;
  font-family: georgia, serif;
  font-size: 5em;
  height: .4em;
  line-height: .9;
  color: $quote-color;
}

blockquote > footer {
  margin-top: .75em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, .7);

  &::before {
    content: "\2014 \0020";
  }
}

q {
  font-style: normal;
}

q,
.q {
  quotes: "“" "”" "‘" "’";

  &:lang(fr) {
    quotes: "«\00a0" "\00a0»" "“" "”";
  }
}

hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 1em 0 2em;
  padding: 0;
  border: 0;
  color: #ccc;
  background-color: #ccc;
}

blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}


/* --------------
  --- DS44 specific utilities 
  --- */

.ds44-darkContext {
  background-color: $ds44-color-inverse!important;
}

/* Thematic colors */

.ds44-theme {
  background-color: $ds44-contextual-color;
}

/* Icons */

.icon {
  vertical-align: middle;
  line-height: 1; 
  display: inline-block;
}

// icon size
.icon::before {
  font-size: 1.2em;
}
.icon--large::before {
  font-size: 2.5em;
}
