/* --- Surcharge de la grille KNACSS dédiée au DS44 */

/* intermediate breakpoints */
// -medium-X suffix means "X columns when < large screen"
// example : .grid-4-medium-2 will be 1 column (< tiny) then 2 columns (< large) then 4 columns
@media (min-width: $ds44-medium) and (max-width: ($ds44-large - .0625)) {
    @for $i from 1 through 4{
     [class*="grid-"][class*="-medium-#{$i}"] {
       grid-template-columns: repeat(#{$i}, 1fr);
     }
 
     [class*="col-"][class*="-medium-#{$i}"] {
       grid-column: auto / span #{$i};
     }
   }
 
   [class*="-medium-all"] {
     grid-column: 1 / -1;
   }
 }