/* -------------------------- */
/* ==DS44 Utilities           */
/* -------------------------- */

/* Spacers */

.ds44--xl-padding {
    padding: $ds44-padding-xlarge; 
}
.ds44--xl-padding-lr {
    padding-left: $ds44-padding-xlarge;
    padding-right: $ds44-padding-xlarge;
}

.ds44--2xl-padding-l {
    padding-left: $ds44-padding-xlarge*2;
}
.ds44-mb3 {
  margin-bottom: $ds44-components-vmargin;
}
.ds44-svm {
  margin-bottom: $ds44-small-vmargin;
}
.ds44-mvm {
  margin-bottom: $ds44-medium-vmargin;
}

/* Flex utils */

.ds44-flex-container {
    display: flex;
    flex-direction: row;
}
.ds44-flex-container--column {
  display: flex;
  flex-direction: column;
}
.ds44-flex-valign-center {  
  align-items: center;
}
.ds44-flex-align-center {  
  justify-content: center;
}

/* Grid utils */

.ds44-grid-middle {
  align-items: center;
}

/* Layout utils */

.ds44-colLeft {
  flex-wrap: nowrap;
  flex: 1;
}
.ds44-colRight {
  flex-wrap: nowrap;
  align-self: flex-end;
  flex: 3;
  text-align: right;
}

/* Width helpers */

.ds44-w100 {
  width: 100%;
}