/* -------------------------- */
/* ==DS44 Utilities           */
/* -------------------------- */

/* === Positions === */

.ds44-posAbs {
  position: absolute;
  z-index: 1;
}
.ds44-posRel {
  position: relative;
}
.ds44-posTop {
  top: 0;
}
.ds44-posTopCont {  
  top: $ds44-components-vmargin;
}
.ds44-posBot {
  bottom: 0;
}
.ds44-posRi {
  right: 0;
}
.ds44-posLe {
  left: 0;
}


/* === Spacers === */

// paddings
.ds44--l-padding {
  padding: $ds44-padding-large; // 2rem
}
.ds44--xl-padding {
    padding: $ds44-padding-xlarge; // 3rem
}
.ds44--xl-padding-lr {
    padding-left: $ds44-padding-xlarge;
    padding-right: $ds44-padding-xlarge;
}
.ds44--2xl-padding-l {
    padding-left: $ds44-padding-xlarge*2;
}

// margins
.ds44-mb3 {
  margin-bottom: $ds44-components-vmargin; // 3rem
}
.ds44-mt3 {
  margin-top: $ds44-components-vmargin; // 3rem
}
.ds44-m3c {
  margin: $ds44-components-vmargin auto; // 3rem
}
.ds44-m3 {
  margin: $ds44-components-vmargin; // 3rem
}
.ds44-m5 {
  margin: $ds44-container-vmargin; // 5rem
}
.ds44-svm {
  margin-bottom: $ds44-small-vmargin;
}
.ds44-mvm {
  margin-bottom: $ds44-medium-vmargin;
}
.ds44-xl-fluid-margin {
  margin-left: 15%;
  margin-right: 15%;
}

/* === Flex utils === */

.ds44-flex-container {
    display: flex;
    flex-direction: row;
}
.ds44-flex-container--column {
  display: flex;
  flex-direction: column;
}
.ds44-flex-valign-center {  
  align-items: center;
}
.ds44-flex-align-center {  
  justify-content: center;
}
.ds44-fse {  
  justify-content: space-evenly;
}

/* === Grid utils === */

.ds44-grid-middle {
  align-items: center;
}
.ds44-hasGutter-xxl {
  gap: 7%;
}

/* === Layout utils === */

.ds44-colLeft {
  flex-wrap: nowrap;
  flex: 1;
}
.ds44-colRight {
  flex-wrap: nowrap;
  align-self: flex-end;
  flex: 3;
  text-align: right;
}
.ds44-multiCol {
  column-count: 2;
  display: block;

  > li { // if multicol is applied to a list, prevent break inside the li element
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
               break-inside: avoid-column; /* W3C */
  }
}

@media (max-width: $ds44-small) {

  .ds44-multiCol {
    column-count: 1;
  }

}

.ds44-xl-gap {
  column-gap: 15rem;
}


/* === Width helpers === */

.ds44-w100 {
  width: 100%;
}

/* === Color utils === */

.ds44-darkContext {
  color: $ds44-color-inverse!important;
}

/* === Backgrounds === */

// Thematic color
.ds44-theme {
  background-color: $ds44-contextual-color;
}

.ds44-bgDark {
  background-color: $ds44-background-dark;
  color: $ds44-color-inverse!important;
}

.ds44-bgGray {
  background-color: $ds44-light-bg;
}

.ds44-bgCircle {
  background-image: url(../../../assets/images/backgrounds/bkgd-circle-white.svg);
  background-repeat: no-repeat;
  background-size: 470px;
}

.ds44-bgTriangle-left {
  background-image: url(../../../assets/images/backgrounds/bkgd-triangle-left-white.svg);
  background-repeat: no-repeat;
  background-size: 470px;
  background-position: left;
}

.ds44-bgTriangle-right {
  background-image: url(../../../assets/images/backgrounds/bkgd-triangle-right-white.svg);
  background-repeat: no-repeat;
  background-size: 470px;
  background-position: right;
}

.ds44-wave-white {
  background-image: url(../../../assets/images/backgrounds/bkgd-wave-white.png);
  background-position-y: bottom;
  background-repeat: repeat-x;
}

.ds44-wave-grey {
  background-image: url(../../../assets/images/backgrounds/bkgd-wave-light-grey.png);
  background-position-y: bottom;
  background-repeat: repeat-x;
}

// Background positions
.ds44-bg-br {
  background-position: bottom -85px right -140px;
}
.ds44-bg-bl {
  background-position: bottom -85px left -140px;
}

/* === Icons === */

.icon {
  vertical-align: middle;
  line-height: .5; 
  display: inline-block;
}

// icon size
.icon::before {
  font-size: 1.6em;
  line-height: .5;
}
.icon--medium::before {
  font-size: 1.8em;
}
.icon--large::before {
  font-size: 2.5em;
}
.icon--xlarge::before {
  font-size: 3.5em;
}
.icon--sizeS::before {
  font-size: 1.2rem;
}
.icon--sizeM::before {
  font-size: 2rem;
}
.icon--sizeL::before {
  font-size: 3rem;
}
.icon--sizeXL::before {
  font-size: 4.5rem;
}

// icon margins
.icon + .ds44-iconInnerText,
.ds44-iconInnerText + .icon {
  margin-left: .5rem;
}


/* === Overlay === */

.ds44-navOverlay {
  //position: fixed;
  //height: 100vh;
  width: 100%;
}

/* === Separators === */

.ds44-navSep {
  border: 1px solid $ds44-color-dark-text;
  margin: $ds44-container-vmargin $ds44-components-vmargin;
}