/* -------------------------- */
/* ==DS44 Utilities           */
/* -------------------------- */

/* === Positions === */

.ds44-centeredBlock {
  margin-left: auto;
  margin-right: auto;
}
.ds44-posAbs {
  position: absolute;
  z-index: 1;
}
.ds44-posRel {
  position: relative;
}
.ds44-posTop {
  top: 0;
}
.ds44-posTopCont {
  top: $ds44-components-vmargin;
}
.ds44-posBot {
  bottom: 0;
}
.ds44-posRi {
  right: 0;
}
.ds44-posLe {
  left: 0;
}


/* === Spacers === */

.ds44-noLineH {
  line-height: 0;
}

// paddings

.ds44--m-padding {
  padding          : $ds44-padding-medium; // 1rem
}
.ds44--m-padding-lr {
  padding-left     : $ds44-padding-medium;
  padding-right    : $ds44-padding-medium;
}
.ds44--m-padding-tb {
  padding-top      : $ds44-padding-medium; // 1rem
  padding-bottom   : $ds44-padding-medium; // 1rem
}
.ds44--m-padding-b {
  padding-bottom   : $ds44-padding-medium; // 1rem
}
.ds44--m-padding-t {
  padding-top      : $ds44-padding-medium; // 1rem
}
.ds44--l-padding {
  padding          : $ds44-padding-large; // 2rem
}
.ds44--l-padding-tb {
  padding-top      : $ds44-padding-large; // 2rem
  padding-bottom   : $ds44-padding-large; // 2rem
}
.ds44--l-padding-t {
  padding-top     : $ds44-padding-large; // 2rem
}
.ds44--l-padding-b {
  padding-bottom  : $ds44-padding-large; // 2rem
}
.ds44--xl-padding {
  padding         : $ds44-padding-xlarge; // 3rem
}
.ds44--xl-padding-tb {
  padding-top     : $ds44-padding-xlarge; // 3rem
  padding-bottom  : $ds44-padding-xlarge; // 3rem
}
.ds44--xl-padding-t {
  padding-top     : $ds44-padding-xlarge; // 3rem
}
.ds44--xl-padding-b {
  padding-bottom  : $ds44-padding-xlarge; // 3rem
}
.ds44--xl-padding-lr {
  padding-left    : $ds44-padding-xlarge;
  padding-right   : $ds44-padding-xlarge;
}
.ds44--xl-padding-r {
  padding-right   : $ds44-padding-xlarge;
}
.ds44--xl-padding-l {
  padding-left    : $ds44-padding-xlarge;
}
.ds44--2xl-padding {
  padding         : $ds44-padding-xlarge*2; // 6rem
}
.ds44--2xl-padding-l {
  padding-left    : $ds44-padding-xlarge*2; // 6rem
}
.ds44--2xl-padding-t {
  padding-top    : $ds44-padding-xlarge*2;  // 6rem
}
.ds44--2xl-padding-b {
  padding-bottom : $ds44-padding-xlarge*2;  // 6rem
}
.ds44--xxl-padding-tb {
  padding-top    : $ds44-padding-xxlarge;   // 5rem
  padding-bottom : $ds44-padding-xxlarge;   // 5rem
}
.ds44--xxl-padding-t {
  padding-top : $ds44-padding-xxlarge;      // 5rem
}
.ds44--xxl-padding-b {
  padding-bottom : $ds44-padding-xxlarge !important;  // 5rem
}
.ds44--3xl-padding {
  padding    : $ds44-padding-xlarge*3;      // 9rem
}
.ds44--3xl-padding-l {
  padding-left    : $ds44-padding-xlarge*3; // 9rem
}
.ds44--3xl-padding-t {
  padding-top    : $ds44-padding-xlarge*3; // 9rem
}
.ds44--3xl-padding-b {
  padding-bottom : $ds44-padding-xlarge*3;  // 9rem
}

// margins

.ds44-mlr1 {
  margin-left: $ds44-margin-base;
  margin-right: $ds44-margin-base;
}
.ds44-mtb1 {
  margin-top: $ds44-margin-base;                    // 1rem
  margin-bottom: $ds44-margin-base;                 // 1rem
}
.ds44-mt1 {
    margin-top: $ds44-margin-base;
}
.ds44-mr1 {
    margin-right: $ds44-margin-base;
}
.ds44-mb-std {
  margin-bottom: $ds44-medium-vmargin;              // 1.5rem
}
.ds44-mt-std {
  margin-top: $ds44-medium-vmargin;                 // 1.5rem
}
.ds44-m-std {
  margin: $ds44-medium-vmargin;                     // 1.5rem
}
.ds44-mtb2 {
  margin-top: $ds44-large-vmargin;                  // 2rem
  margin-bottom: $ds44-large-vmargin;               // 2rem
}
.ds44-mt2 {
  margin-top: $ds44-large-vmargin!important;        // 2rem
}
.ds44-mb2 {
  margin-bottom: $ds44-large-vmargin!important;     // 2rem
}
.ds44-mb3 {
  margin-bottom: $ds44-components-vmargin;          // 3rem
}
.ds44-mt3 {
  margin-top: $ds44-components-vmargin!important;  // 3rem
}
.ds44-mtb3 {
  margin-bottom: $ds44-components-vmargin;         // 3rem
  margin-top: $ds44-components-vmargin;            // 3rem
}
.ds44-m3c {
  margin: $ds44-components-vmargin auto;           // 3rem
}
.ds44-m3 {
  margin: $ds44-components-vmargin;                // 3rem
}
.ds44-mlr3 {
  margin-left: $ds44-components-vmargin;           // 3rem
  margin-right: $ds44-components-vmargin;          // 3rem
}
.ds44-m35 {
  margin: 3.5rem;                                  // 3.5rem
}
.ds44-mb35 {
  margin-bottom: 3.5rem;                           // 3.5rem
}
.ds44-mlr4 {
  margin-left: 4rem!important;                     // 4rem
  margin-right: 4rem!important;                    // 4rem
}
.ds44-mt4 {
  margin-top: 4rem!important;                      // 4rem
}
.ds44-mtb4 {
  margin-top: 4rem!important;                      // 4rem
  margin-bottom: 4rem!important;                   // 4rem
}
.ds44-m5 {
  margin: $ds44-container-vmargin;                 // 5rem
}
.ds44-mt5 {
  margin-top: $ds44-container-vmargin;             // 5rem
}
.ds44-mb5 {
  margin-bottom: $ds44-container-vmargin;          // 5rem
}
.ds44-mr5 {
  margin-right: $ds44-container-vmargin;           // 5rem
}
.ds44-ml5 {
  margin-left: $ds44-container-vmargin;            // 5rem
}
.ds44-mlr5 {
  margin-right: $ds44-container-vmargin;           // 5rem
  margin-left: $ds44-container-vmargin;            // 5rem
}
.ds44-m5c {
  margin: $ds44-container-vmargin auto;            // 5rem
}
.ds44-svm {
  margin-bottom: $ds44-small-vmargin;
}
.ds44-mvm {
  margin-bottom: $ds44-medium-vmargin;
}
.ds44-xl-fluid-margin {
  margin-left: 15%;
  margin-right: 15%;
}
.ds44-l-fluid-margin {
  margin-left: 10%;
  margin-right: 10%;
}
.ds44-m-fluid-margin {
  margin-left: 5%;
  margin-right: 5%;
}
.ds44-xl-margin-tb {
  margin-top: $ds44-container-vmargin;    // 5rem
  margin-bottom: $ds44-container-vmargin; // 5rem
}

/* === Flex utils === */

/* container properties */
.ds44-flex {
    display: flex;
}
.ds44-flex-container {
    display: flex;
    flex-direction: row;
}
.ds44-flex-container--column {
  display: flex;
  flex-direction: column;
}
.ds44-flex-valign-center {
  align-items: center;
}
.ds44-flex-align-center {
  justify-content: center;
}
.ds44-fse {
  justify-content: space-evenly;
}
.ds44-fsb {
  justify-content: space-between;
}
.ds44-flex-mauto {
  margin: auto!important;
}
.ds44-frw {
  flex-direction: row-reverse;
}

/* Element properties */
.ds44-fg1 {
  flex-grow: 1;
}
.ds44-fg2 {
  flex-grow: 2;
}
.ds44-fg3 {
  flex-grow: 3;
}
.ds44-fg4 {
  flex-grow: 4;
}
.ds44-fg5 {
  flex-grow: 5;
}

.ds44-fl1 {
  flex: 1;
}
.ds44-fl2 {
  flex: 2;
}
.ds44-fl3 {
  flex: 3;
}
.ds44-fl4 {
  flex: 4;
}
.ds44-fl5 {
  flex: 5;
}
.ds44-fas {
  align-self: flex-end;
}

@media (max-width: $ds44-large - .0625) {

  .ds44-flex-wrap-large {
    flex-wrap: wrap;
  }
  .ds44-flex-grow1-large {
    flex-grow: 1;
  }

  .ds44-flex-container--colLarge {
    flex-direction: column;
  }

}

@media (max-width: $ds44-medium - .0625) {

  .ds44-tiny-to-med-ftop {
    justify-content: flex-start;
  }

  .ds44-tiny-to-med-atop {
    align-items: flex-start;
  }

  .ds44-flex-wrap-medium {
    flex-wrap: wrap;
  }

  .ds44-flex-grow1-medium {
    flex-grow: 1;
  }

  .ds44-flex-container--colMed {
    flex-direction: column;

    &--colRev {
      flex-flow: column-reverse;
    }

  }

  .ds44-medium-flex-col { // change l'orientation flex de row à column sur les écrans moyens et petits
    flex-direction: column;
  }

}

@media (max-width: $ds44-small - .0625) {

  .ds44-small-flex-col { // change l'orientation flex de row à column sur les petits écrans
    flex-direction: column;
  }

  .ds44-small-fg1 { // étire l'élément en mobile
    flex-grow: 1;
  }

}

/* === Grid utils === */

.ds44-grid-middle {
  align-items: center;
}
.ds44-hasGutter-xxl {
  gap: 7%;
}
.ds44-grid-valign-center {
  align-items: center;
}

/* === Layout utils === */

.ds44-colLeft {
  flex-wrap: nowrap;
  flex: 1;
}

.ds44-colRight {
  flex-wrap: nowrap;
  align-self: flex-end;
  flex: 3;
  text-align: right;
}

.ds44-grid12-offset-1 {
  padding-left: 8.333%;
  padding-right: 8.333%;
}

.ds44-grid12-offset-2 {
  padding-left: 16.666%;
  padding-right: 16.666%;
}

.ds44-negativeOffset-1 {
  margin-left: -6.2186567175%;
  margin-right: -6.2186567175%;
}

.ds44-negativeOffset-2 {
  margin-left: -12.437313435%; // ((16.666/67)x100)/2
  margin-right: -12.437313435%;
}

@media (max-width: $ds44-small - .0625) {

  .ds44-colLeft {
    flex-wrap: wrap;
  }

  .ds44-colRight {
    align-self: flex-start;
  }

  .ds44-grid12-offset-1 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .ds44-grid12-offset-2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .ds44-negativeOffset-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .ds44-negativeOffset-2 {
    margin-left: 0;
    margin-right: 0;
  }


}

@media (max-width: $ds44-tiny - .0625) {

  .ds44-colLeft {
    flex: 1;
  }

  .ds44-colRight {
    flex: 2;
  }

}

.ds44-multiCol  {
  column-count: 2;
  display: block;

  li, .ds44-noCut { // prevent break inside the element
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
               break-inside: avoid-column; /* W3C */
  }

  li > a { // prevent break inside the container ds44-noCut
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
               break-inside: avoid-column; /* W3C */
               display: inline-block;
  }
}
.ds44-multiCol--3 {
  column-count: 3;
}
.ds44-multiCol--border {
  column-rule: 2px solid #000;
}

/* === Width helpers === */

.ds44-w100 {
  width: 100%;
}
.ds44-w98 {
  width: 98%;
}

/* === Height helpers === */

.ds44-hv100 {
  min-height: 100vh;
}
.ds44-h100 {
  height: 100%;
}

/* === Color utils === */

.ds44-darkContext {
  background-color: $ds44-color-inverse!important;
}

/* === Text utils === */

.ds44-textLegend {
  color: $ds44-gray ;

  &--mentions {
    @include ds44-font-sizes(errMsg);
  }

}

/* === BORDERS === */

%ds44-separating-border {
  border-left: 2px solid!important;
}
.ds44-border-left {
  @extend %ds44-separating-border;
  border-color: $ds44-dark!important;
  &--light {
    @extend %ds44-separating-border;
    border-color: $ds44-light!important;
  }
}
.ds44-border-bottom {
  border-bottom: 2px solid $ds44-contextual-color!important;
}

.ds44-theme-border {
  border-color: $ds44-contextual-color;
}

/* === Backgrounds === */

// Thematic color
.ds44-theme {
  background-color: $ds44-contextual-color;
}

.ds44-bgDark {
  background-color: $ds44-background-dark;
  color: $ds44-color-inverse;
}

.ds44-bgGray {
  background-color: $ds44-light-bg;
}

.ds44-lightBG {
  background-color: $ds44-light-bg;
}

.ds44-whiteBG {
  background-color: $ds44-light;
}

.ds44-img50 {
  background: linear-gradient(to bottom, $ds44-light-bg 50%, $ds44-light 50%);
}

// Dégradé du header
.ds44-alphaGradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 30%, rgba(0,0,0,.6) 40%, rgba(0,0,0,.75) 70%);
  background-size: cover;
}
.ds44-alphaGradient--header {
  padding: $ds44-padding-xxlarge*2 $ds44-padding-xlarge $ds44-padding-large $ds44-padding-xlarge;
}

.ds44-bgCircle {
  background-image: url(../../../assets/images/backgrounds/bkgd-circle-white.svg);
  background-repeat: no-repeat;
  background-size: 470px;
}

.ds44-bgTriangle-left {
  background-image: url(../../../assets/images/backgrounds/bkgd-triangle-left-white.svg);
  background-repeat: no-repeat;
  background-size: 470px;
  background-position: left;
}

.ds44-bgTriangle-right {
  background-image: url(../../../assets/images/backgrounds/bkgd-triangle-right-white.svg);
  background-repeat: no-repeat;
  background-size: 470px;
  background-position: right;
}

.ds44-wave-white {
  background-image: url(../../../assets/images/backgrounds/bkgd-wave-white.png);
  background-position-y: bottom;
  background-repeat: repeat-x;
}

.ds44-wave-grey {
  background-image: url(../../../assets/images/backgrounds/bkgd-wave-light-grey.png);
  background-position-y: bottom;
  background-repeat: repeat-x;
}

@media (max-width: $ds44-small - .0625) {

  .ds44-wave-white, .ds44-wave-grey {
    background-size: cover;
  }

}



// Background positions
.ds44-bg-br {
  background-position: bottom -85px right -140px;
}
.ds44-bg-bl {
  background-position: bottom -85px left -140px;
}
.ds44-bg-b {
  background-position-y: bottom -150px;
}
.ds44-bg-pdr { // pushed down right
  background-position: bottom -250px right -300px;
}

/* === Icons === */

.icon {
  vertical-align: middle;
  line-height: .5;
  display: inline-block;
}

// icon size
.icon::before {
  font-size: 1.6em;
  line-height: .5;
}
.icon--medium::before {
  font-size: 1.8em;
}
.icon--large::before {
  font-size: 2.5em;
}
.icon--xlarge::before {
  font-size: 3.5em;
}
.icon--sizeS::before {
  font-size: 1.5rem;
}
.icon--sizeM::before {
  font-size: 2.5rem;
}
.icon--sizeL::before {
  font-size: 3.3rem;
}
.icon--sizeXL::before {
  font-size: 5rem;
  line-height: 0.25;
}

// icon margins
.icon + .ds44-iconInnerText,
.ds44-iconInnerText + .icon {
  margin-left: .5rem;
}

// Icon modifiers

.ds44-docListIco {
  position: absolute;
  left: 0;
  top: 0;
}

/* === Text effects === */

.ds44-txtBulle {
  @include ds44-font-sizes(bigText);
  @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
    font-family: $ds44-font-family-headings;
  }
  text-transform: lowercase;
  background-color: $ds44-light-color;
  border-radius: 6rem;
  padding: 1.2rem 1.5rem 1.5rem 1.5rem;
  display: inline-block;
  line-height: 1;

  &.ds44-theme {
    background-color: $ds44-contextual-color;
  }
}

/* === Accessibilité === */

.ds44-keyboard-show {

  position: absolute;
  left: -10000em;

  a:focus {
    position: absolute;
    display: block;
    left: 10003em;
    top: 1rem;
    min-width: 25rem;
    border: 2px solid $ds44-contextual-color;
    border-radius: 0 0 $ds44-border-radius;
    padding: $ds44-padding-medium $ds44-padding-box;
    transition: box-shadow $ds44-timing-standard ease;
    z-index: 10;
    text-align: center;
  }

}

/* === Separators === */

.ds44-xl-gap {
  column-gap: 15rem;
}
.ds44-m-gap {
  column-gap: 3rem;
}
.ds44-separator {
  position: relative;
  height: 100%;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background-color: #000;
    z-index: 1;
  }

  p {
    z-index: 10;
  }
}


@media (max-width: $ds44-medium - .0625) {

  .ds44-separator {
    height: auto;
    padding: $ds44-padding-xlarge;

    &::before {
      height: 2px;
      width: 100%;
    }

  }

}

/* === LINKS === */

.ds44-inblLinks {
  display: inline-block;
  margin-right: 1rem 0 .5rem 0;
  white-space: nowrap;
}

.ds44-inlineLink {
  display: inline!important;
}

.ds44-titleLink {
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }

}

.ds44-arrowLink {
  @include ds44-font-sizes(menuLinks);
  display: block;
  padding: 1rem 3rem 1rem 1rem;
  text-decoration: none;
  position: relative;

  .icon-arrow-right {
    color: $ds44-contextual-color;
    position: absolute;
    top: 1.2rem;
    right: .6rem;
    transition: all $ds44-timing-faster $ds44-transition-std;
  }

  &:hover, &:focus, &:active {
    text-decoration: underline;

    .icon-arrow-right {
      right: 0;
    }
  }
}

/* === Hidden blocks for focus loops === */

.ds44-tmpFocusHidden {
  position: absolute;
  top: -50rem;
}


/* === Surcharges === */

.visually-hidden {
  margin: 0!important;
}




/* =======
  GENERIC MEDIA QUERIES
  === */


@media (min-width: $ds44-medium) {

  .ds44-multiCol--3 {
    column-count: 2;
  }

  .ds44-m-t-xl-noUnderline {
    text-decoration: none;
  }

}

@media (min-width: $ds44-large) {

  .ds44-multiCol--3 {
    column-count: 3;
  }

}

@media (max-width: $ds44-small - .0625) {

  .ds44-bgCircle {
    background-size: 380px;
    background-position-x: 180px;
    background-position-y: bottom -180px;
  }

  .ds44--xxl-padding-tb {
    padding-top    : $ds44-padding-xlarge; // 3rem
    padding-bottom : $ds44-padding-xlarge; // 3rem
  }

  .ds44-xl-margin-tb {
    margin-top     : $ds44-components-margin;  // 3rem
    margin-bottom  : $ds44-components-vmargin; // 3rem
  }

  .ds44--mobile--m-padding-b {
    padding-bottom   : $ds44-padding-medium; // 1rem
  }

}

@media (max-width: $ds44-medium - .0625) {

  .ds44-xl-fluid-margin {
    margin-left: 5.5%;
    margin-right: 5.5%;
  }

  .ds44-multiCol {
    column-count: 1;
  }

  .ds44-arrowLink {
    padding: .5rem 3rem .5rem 0;
    line-height: 1.2;

    .icon-arrow-right {
      top: .5rem;
    }

  }

  li:first-child > .ds44-arrowLink {
    margin-top: 1.5rem;
  }

}

@media (max-width: $ds44-large - .0625) {

  .ds44-xl-gap {
    column-gap: 5rem;
  }

}

@media (max-width: $ds44-extra-large - .0625) {

  .ds44-xl-gap {
    column-gap: 8rem;
  }

}
