/* -------------------------- */
/* ==Responsive helpers       */
/* -------------------------- */

/* large screens */
/* ------------- */

@media (min-width: $ds44-large) {

  /* layouts for large screens */
  .large-hidden {
    display: none !important;
  }

  .large-visible {
    display: block !important;
  }

  .large-no-float {
    float: none;
  }

  .large-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* widths for large screens */
  .large-w25 {
    width: 25% !important;
  }

  .large-w33 {
    width: 33.333333% !important;
  }

  .large-w50 {
    width: 50% !important;
  }

  .large-w66 {
    width: 66.666666% !important;
  }

  .large-w75 {
    width: 75% !important;
  }

  .large-w100,
  .large-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for large screens */
  .large-man,
  .large-ma0 {
    margin: 0 !important;
  }
}



/* medium screens */
/* -------------- */

@media (min-width: $ds44-large) and (max-width: ($ds44-extra-large - .0625)) {

  .ds44-large-noOffset {
    padding-left: 0;
    padding-right: 0;
  }

}


/* medium screens */
/* -------------- */

@media (min-width: $ds44-medium) and (max-width: ($ds44-large - .0625)) {

  /* layouts for medium screens */
  .medium-hidden {
    display: none !important;
  }

  .medium-visible {
    display: block !important;
  }

  .medium-no-float {
    float: none;
  }

  .medium-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* widths for medium screens */
  .medium-w25 {
    width: 25% !important;
  }

  .medium-w33 {
    width: 33.333333% !important;
  }

  .medium-w50 {
    width: 50% !important;
  }

  .medium-w66 {
    width: 66.666666% !important;
  }

  .medium-w75 {
    width: 75% !important;
  }

  .medium-w100,
  .medium-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for medium screens */
  .medium-man,
  .medium-ma0 {
    margin: 0 !important;
  }
}


/*   Tablettes   */
/* ------------- */

@media (min-width: $ds44-small) and (max-width: ($ds44-large - .0625)) {

  .ds44-tablette-extra-mt {
    margin-top: $ds44-components-vmargin !important;
  }

  .ds44-tablette-noOffset {
    padding-left: 0;
    padding-right: 0;
  }

}


/* small screens */
/* ------------- */

@media (min-width: $ds44-small) and (max-width: ($ds44-medium - .0625)) {

  /* layouts for small screens */
  .small-hidden {
    display: none !important;
  }

  .small-visible {
    display: block !important;
  }

  .small-no-float {
    float: none;
  }

  .small-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* widths for small screens */
  .small-w25 {
    width: 25% !important;
  }

  .small-w33 {
    width: 33.333333% !important;
  }

  .small-w50 {
    width: 50% !important;
  }

  .small-w66 {
    width: 66.666666% !important;
  }

  .small-w75 {
    width: 75% !important;
  }

  .small-w100 {
    width:100%;
  }

  .small-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for small screens */
  .small-man,
  .small-ma0 {
    margin: 0 !important;
  }

  .small-pan,
  .small-pa0 {
    padding: 0 !important;
  }

}

/* tiny screens */
/* ------------ */

@media (max-width: $ds44-small - .0625) {

  /* quick small resolution reset */
  .mod,
  .col,
  fieldset {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  .flex-container {
    flex-direction: column;
  }

  /* layouts for tiny screens */
  .tiny-hidden {
    display: none !important;
  }

  .tiny-visible {
    display: block !important;
  }

  .tiny-no-float {
    float: none;
  }

  .tiny-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* widths for tiny screens */
  .tiny-w25 {
    width: 25% !important;
  }

  .tiny-w33 {
    width: 33.333333% !important;
  }

  .tiny-w50 {
    width: 50% !important;
  }

  .tiny-w66 {
    width: 66.666666% !important;
  }

  .tiny-w75 {
    width: 75% !important;
  }

  .tiny-w100 {
    width: 100%;
  }

  .tiny-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for tiny screens */
  .tiny-man,
  .tiny-ma0 {
    margin: 0 !important;
  }

  .tiny-pan,
  .tiny-pa0 {
    padding: 0 !important;
  }

}


/* =======
  SPECIFIC DS44 MEDIA QUERIES
  === */

@media (min-width: $ds44-large) {

  .ds44-hide-large {
    display: none !important;
  }

}

@media (min-width: $ds44-medium) {

  .ds44-show-mobile {
    display: none !important;
  }

}

@media (max-width: $ds44-large - .0625) {

  .ds44-hide-tinyToLarge {
    display: none !important;
  }

  .ds44-show-tinyToLarge {
    display: block !important;
  }

  .ds44-ttl-pt9 {
    padding-top: $ds44-margin-base *9 !important;
  }

  .ds44-stl-center {
    text-align: center !important;
  }

  .ds44-large-extra-mb {
    margin-bottom: $ds44-components-vmargin !important;
  }

  .ds44-large-extra-mt {
    margin-top: $ds44-components-vmargin !important;
  }

}

@media (max-width: $ds44-medium - .0625) {


  .ds44-tablette-extra-mb {
    margin-bottom: $ds44-components-vmargin !important;
  }

  .ds44-tablette-reduced-pt {
    padding-top: $ds44-padding-base !important;
  }

  .ds44-tablette-reduced-mt {
    margin-top: $ds44-margin-base !important;
  }

  .ds44-hide-tiny-to-medium {
    display: none!important;
  }

  .ds44-show-tiny-to-medium {
    display: block!important;
  }

}

@media (max-width: $ds44-small - .0625) {

  .ds44-hide-mobile {
    display: none!important;
  }

  .ds44-hide-smallScreens {
    display: none !important;
  }

  .ds44-mobile-reduced-pad {
    padding: $ds44-padding-base !important;
  }

  .ds44-mobile-reduced-pt {
    padding-top: $ds44-padding-base !important;
  }

  .ds44-mobile-reduced-pb {
    padding-bottom: $ds44-padding-base !important;
  }

  .ds44-mobile-reduced-mar {
    margin: $ds44-margin-base !important;
  }

  .ds44-mobile-reduced-mb {
    margin-bottom: $ds44-margin-base !important;
  }

  .ds44-mobile-extra-mb {
    margin-bottom: $ds44-components-vmargin !important;
  }

  .ds44-mobile-reduced-mt {
    margin-top: $ds44-margin-base !important;
  }

}
