/*
* CD44 Design System - Boxes
*/

.ds44-box {
    background-position-y: center;

    &.ds44-wave-white {
        background-position-y: bottom -280px;
        height:100%;
    }
    &.ds44-bgCircle {
        background-position: left -240px bottom -200px;
        height:100%;
    }
    &.ds44-bgTriangle-left {
        background-position: left -150px center;
        height:100%;
    }
}

.ds44-box--push {
    min-height: 280px;
    height: 100%;
}

.ds44-box__img {
    width: 100%;
}

.ds44-box-heading {
    @include ds44-font-sizes(h4);
    font-weight: $weight-bold;
    font-family: $ds44-font-family-base;
    background: transparent;
    padding: 0;
    line-height: 1.2em;
}

.ds44-innerBoxContainer {
    padding: $ds44-padding-xlarge;
}

.ds44-boxPic {
    float: left;
    margin-right: $spacer-medium;
}

.ds44-txtExergue {
    @include ds44-font-sizes(bigText);
    display: block;
}

.ds44-borderContainer {
    border: 1px solid $ds44-contextual-color;
    padding: $ds44-padding-xlarge;
}

// Pushs

.ds44-pushTitle {
    @include ds44-font-sizes(pushTitle);
    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
      font-family: $ds44-font-family-headings;
    }
    line-height: 1.1;
}

.ds44-boxPushContent {
    max-width: calc(55% + 15px);
    align-self: center;
    padding: $ds44-padding-box;

    &--fluid {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: $ds44-padding-xlarge;

        p {
            margin: 0;
            padding-left: 1.5rem;
            max-width: 30%;

            &[role="heading"] {
                max-width: 45%;
            }
        }

    }

}

.ds44-boxPushPic {
    position: relative;
    align-self: flex-end;

    &--horizontal {
        width: calc(30% - 15px);
    }

}

.ds44-pictoStore {
    height: 32px;
    margin-bottom: 10px;
}


// Média

.ds44-mediaIndicator {
    padding: 1rem 1.5rem ;
    border-radius: $ds44-border-radius;
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    display: block;
    background-color: #000;
    z-index: 10;
    color: #FFF;
}


/* =======
  MEDIA QUERIES
  === */

@media (min-width: $ds44-large - .625) {

  .grid-12-small-1 .colPush{
    margin-right: $ds44-medium-vmargin;
  }
  .grid-12-small-1 .colPush:last-of-type{
    margin-right: 0;
  }

}

@media (max-width: $ds44-large - .0625) {

  .ds44-box .col{
    margin-top: 2em;
    padding: 0;
  }

  .ds44-box .col:first-child{
    margin-top: 0;
  }

  .grid-12-small-1 .colPush{
    margin-bottom:  $ds44-medium-vmargin;
  }

}

@media (max-width: $ds44-medium - .0625) {

    .ds44-boxPushContent {
        width: 100%;

        &--fluid {
            flex-direction: column;
            text-align: center;

            p {
                max-width: 100%;
                padding: $ds44-padding-box;

                &[role="heading"] {
                    max-width: 100%;
                }
            }
        }

    }

    .ds44-boxPushPic {

        &--horizontal {
            width: 100%;
            text-align: center;
        }

    }

}

@media (max-width: $ds44-tiny - .0625) {

    .ds44-innerBoxContainer {
        padding: $ds44-padding-large;
    }

    // Pushs

    .ds44-boxPushContent {
        max-width: 100%;

        &--fluid {
            padding-right: $ds44-padding-box;
        }
    }

    .ds44-box--push {
        flex-direction: column-reverse;
        text-align: center;
        min-height: 0;
        padding-top: $spacer-small;
    }

    .ds44-boxPushPic {
        width: 100%;
    }

}




@media (min-width: $ds44-extra-large) {

    .ds44-boxPushPic {

        &--horizontal {
            width: calc(20% - 15px);
        }

    }

}
