/*
* CD44 Design System - Boxes
*/

.ds44-box {
    background-position-y: center;

    &.ds44-wave-white {
        background-position: bottom -120px left 0;
        height:100%;
        background-size: 1200px;
    }
    &.ds44-bgCircle {
        background-position: left -240px bottom -200px;
        height:100%;
    }
    &.ds44-bgTriangle-left {
        background-position: left -150px center;
        height:100%;
    }
}

.ds44-box--push {
    min-height: 280px;
    height: 100%;
}

.ds44-box__img {
    width: 100%;
}

.ds44-box-heading {
    @include ds44-font-sizes(h4);
    font-weight: $weight-bold;
    font-family: $ds44-font-family-base;
    background: transparent;
    padding: 0;
    line-height: 1.2em;
}

.ds44-innerBoxContainer {
    padding: $ds44-padding-xlarge;
}

// Témoignages
.ds44-box {
  &--temoignage {
    padding-bottom: 7rem !important;
    position: relative;
    height: 100%;

    .ds44-fullWBtn  {
      position: absolute;
      bottom: 0;
      left: 0;
      margin:$ds44-padding-large;
      width: calc(100% - 4rem);
    }
  }
}


// Equipements financiers

.ds44-boxPic {
    float: left;
    margin-right: $ds44-margin-base;
    width: 150px;
    min-width: max-content;
}

// Chiffres clés

.ds44-numberIncrement {
  display: inline-block !important;
  flex-shrink: 0;

  + .h1-like {
    display: inline-block !important;
  }
}

.ds44-txtExergue {
    @include ds44-font-sizes(bigText);
    display: block;
}

.ds44-borderContainer {
    border: 1px solid $ds44-contextual-color;
    padding: $ds44-padding-xlarge;
}

// Pushs

.ds44-pushTitle {
    @include ds44-font-sizes(pushTitle);
    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
      font-family: $ds44-font-family-headings;
    }
    line-height: 1.1;
}

.ds44-boxPushContent {
    max-width: calc(55% + 15px);
    max-width: -webkit-calc(55% + 15px);
    align-self: center;
    padding: $ds44-padding-box;

    &--fluid {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: $ds44-padding-xlarge;

        &.ds44-titlePushH {
            max-width: 45%;
        }

        &.ds44-contentPushH {
            max-width: 30%;
        }

        p {
            margin: 0;
            padding-left: 1.5rem;
        }

    }

}

.ds44-boxPushPic {
    position: relative;
    align-self: flex-end;

    &--horizontal {
        width: calc(30% - 15px);
        width: -webkit-calc(30% - 15px);

        & img {
          max-height: 110px;
        }
    }


}

.ds44-pictoStore {
    height: 32px;
    margin-bottom: 10px;
}

// Alert

.ds44-alertMsg-container {
    background-color: $ds44-error-bg;
    padding: 0;

    .ds44-collapser {

      margin: 0;
      border: 0;

      .ds44-card__title {
        font-size: 2.4rem;
        text-align: center;
        margin: 0;
        position: relative;
        padding-left: $ds44-padding-xxlarge;
        display: inline-block;

       .icon-attention {
          left: 0;
          top: -5px;
          right: inherit;

          &:before {
            color: $ds44-error;
            transform: none;
            margin-top: 0;
          }
        }
      }

      .ds44-collapser_element {
        border : 0;

        .ds44-collapser_button {
          text-align: center;

          .icon--sizeXL {
            right: 1.5rem;
            top: .75rem;
          }
        }
      }

      .ds44-collapser_content {
        background-color: $ds44-error-bg;

        .ds44-collapser_content--level2 {
          padding-left: $ds44-padding-xxlarge;
          padding-right: $ds44-padding-xxlarge;
          padding-bottom: $ds44-padding-large;
        }
      }
    }
}


// Média

.ds44-mediaIndicator {
    padding: 1rem 1.5rem ;
    border-radius: $ds44-border-radius;
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    display: block;
    background-color: #000;
    z-index: 10;
    color: #FFF;
}


/* =======
  MEDIA QUERIES
  === */


@media (min-width: $ds44-large) {

  .grid-12-small-1 .colPush{
    margin-right: $ds44-medium-vmargin;
  }
  .grid-12-small-1 .colPush:last-of-type{
    margin-right: 0;
  }
  .grid-12-small-1 .colFocusProjets{
    margin-left: $ds44-medium-vmargin;
  }
  .grid-12-small-1 .colFocusProjets:first-of-type{
    margin-left: 0;
  }
  .ds44-innerBoxContainer {
      &--list {
        padding: $ds44-padding-xlarge $ds44-padding-xlarge;
      }
  }

}

@media (max-width: $ds44-large - .0625) {

  .grid-2-small-1 {
    grid-template-columns : repeat(1, 1fr);
  }

  .ds44-box .col{
    margin-top: 2em;
    padding: 0;
  }

  .ds44-box .col:first-child{
    margin-top: 0;
  }

  .grid-12-small-1 .colPush{
    margin-bottom:  $ds44-medium-vmargin;
  }
  .ds44-innerBoxContainer {
      &--list {
        padding: $ds44-padding-xlarge;
      }
  }

}


@media (min-width: $ds44-medium) {

  .grid-12-small-1 .colPush.col-6{
    margin-right: $ds44-medium-vmargin;
  }
  .grid-12-small-1 .colPush.col-6:last-of-type{
    margin-right: 0;
  }

}

@media (max-width: $ds44-medium - .0625) {

    .ds44-boxPushContent {
        width: 100%;

        &--fluid {
            flex-direction: column;
            text-align: center;

            p {
                max-width: 100%;
                padding: $ds44-padding-box;

                &[role="heading"] {
                    max-width: 100%;
                }
            }
        }

    }

    .ds44-boxPushPic {

        &--horizontal {
            width: 100%;
            text-align: center;
            & img {
              max-height: 300px;
            }
        }

    }

}


@media (max-width: $ds44-tiny - .0625) {

    .ds44-innerBoxContainer {
        padding: $ds44-padding-large;
    }

    // Pushs

    .ds44-boxPushContent {
        max-width: 100%;

        &--fluid {
            padding-right: $ds44-padding-box;
        }
    }

    .ds44-box--push {
        flex-direction: column-reverse;
        text-align: center;
        min-height: 0;
        padding-top: $spacer-small;
    }

    .ds44-boxPushPic {
        width: 100%;
    }

}




@media (min-width: $ds44-extra-large) {

    .ds44-boxPushPic {

        &--horizontal {
            width: calc(20% - 15px);
            width: -webkit-calc(20% - 15px);
        }
    }

    .ds44-innerBoxContainer {
        &--list {
          padding: $ds44-padding-xlarge $ds44-padding-xlarge*2;
        }
    }

}
