/*
* CD44 Design System - Boxes
*/


.ds44-box-heading {
    @include ds44-font-sizes(h4);
    font-weight: $weight-bold;
    font-family: $ds44-font-family-base;
}

.ds44-innerBoxContainer {
    padding: $ds44-padding-xlarge;
}
