/*
* CD44 Design System - Breadcrumb
*/

.ds44-breadcrumb {
    margin-left: 3rem;
}

.ds44-breadcrumb_item {
    display: inline;

    &:first-child {
        margin-left: -3rem;
    }

    &::after {
        content: "/";
        display: inline-block;
        margin: 0 .5rem 0 1rem;
    }

    &:last-child::after {
        content: "";
        margin: 0;
    }
}


/* =======
  GENERIC MEDIA QUERIES
  === */

@media (min-width: $ds44-small) and (max-width: $ds44-large) {

    .ds44-breadcrumb {
        margin-top: 3rem;
    }

}
