/*
* CD44 Design System - Breadcrumb
*/

.ds44-breadcrumb {
    margin-left: 3rem;
    font-size: 0.875em;
}

.ds44-breadcrumb_item {
    display: inline;

    &:first-child {
        margin-left: -3rem;
    }

    &::after {
        content: "/";
        display: inline-block;
        margin: 0 .5rem 0 1rem;
    }

    &:last-child::after {
        content: "";
        margin: 0;
    }
}

.ds44-breadcrumb .icon{
    margin-top: -5px;
}


/* =======
  GENERIC MEDIA QUERIES
  === */

@media (min-width: $ds44-small) and (max-width: $ds44-large) {

    .ds44-breadcrumb {
        margin-top: 3rem;
    }

}

@media (max-width: $ds44-large - .0625) {

  .ds44-tablette-reduced-mt .ds44-breadcrumb{
    margin-top: $ds44-margin-base;
  }

}
