/*
* CD44 Design System - Buttons
*/
  

button {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;

    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

.ds44-btnStd {
    font-size: .875em; // 14px
    padding: $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    font-weight: bold;
    line-height: 1;
    min-height: $ds44-normalHeight;
    
    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }
}

.ds44-btnStd--large {
    font-size: 1em; // 16px
    padding: 0 $ds44-padding-large;
    min-height: $ds44-largeHeight;
}

.ds44-btn--invert {
    background-color: $ds44-background-dark;
    color: $ds44-color-inverse;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-hover-dark;
    }
}

.ds44-btn--contextual,
.ds44-contextualBtnLink {
    background-color: $ds44-contextual-color;
    border-color: $ds44-contextual-color;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-contextual-hover;
        border-color: $ds44-contextual-color;
    }
}

/* == Icon-text buttons == */

// Link style buttons
.ds44-btnIcoText {
    font-weight: bolder;
    
    .icon + .ds44-btnInnerText,
    .ds44-btnInnerText + .icon {
        margin-left: 1rem;
        font-size: .875em; // 14px
        vertical-align: sub;

        // icons inside text
        .icon {
            vertical-align: text-top;
            margin-left: .5rem;
            margin-right: .5rem;
            }

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }

}

// Buttons for header (full height)
.ds44-btnIcoText--maxi {
    font-size: .9375em;
    font-weight: bold;
    text-transform: uppercase;
}

// text container for icon-text buttons
.ds44-btnInnerText {
    display: inline-block;
    vertical-align: middle;
}
.ds44-btnInnerText--bottom {
    @include ds44-font-sizes(tinyText);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

// icon margins
.icon + .ds44-btnInnerText,
.ds44-btnInnerText + .icon {
  margin-left: 1.5rem;
}

/* === button style links === */

.ds44-icoLink {
    @include ds44-font-sizes(tinyText);
    display: inline-block;
    max-width: 4rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.ds44-icoTxtWrapper {
    display: block;
    line-height: 1.2;
    margin-top: 3px;
}

.ds44-btnLink {
    font-size: .875em; // 14px
    padding: $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    display: inline-block;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    min-height: $ds44-normalHeight;
    
    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }
}

/* == Icon buttons == */

.ds44-btnIco {
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-box;

    &.ds44-bgDark:focus {
        background-color: $ds44-gray;
    }
}

/* == Specific buttons == */

.ds44-btnOverlay {
    right: 5.5%; // identical as inner container padding
    position: absolute;
    top: $ds44-components-vmargin;
    right: $ds44-components-vmargin;
}

.ds44-fullWBtn {
    width: 100%;
    text-align: center;
    padding: $ds44-padding-large;
    font-weight: bold;

    .ds44-btnInnerText {
        vertical-align: baseline;
    }
}

// Popover - help tool

.ds44-popOver {
    vertical-align: middle;
}
.ds44-popOverBtn {
    cursor: help;
    position: relative;

    // generating bubble
    &::after {
        content: "";
        display: block;
        position: absolute;
        right: -110px;
        bottom: 2.5rem;
        border-radius: $ds44-border-radius;
        box-shadow: $ds44-smallShadow;
        z-index: 10;
        background-color: #fff;
        text-align: left;
        font-size: 1.4rem;
        opacity: 0;
        transition: opacity $ds44-timing-standard ease-in-out;
    }

    &:hover::after, &:active::after, &:focus::after {
        content: attr(aria-label);
        padding: $spacer-small;
        width: 250px;
        opacity: 1;
    }

    .icon-help {
        position: relative;
    }
    .icon-help::after {
        content: "";
        position: absolute;
        display: block;
        transform: rotate(45deg);
        background-color: #fff;
        top: -12px;
        left: 5px;
        z-index: 15;
        opacity: 0;
        transition: all $ds44-timing-standard ease-in-out;
    }

    // Showing little arrow under the bubble
    &:hover .icon-help::after, &:focus .icon-help::after, &:active .icon-help::after {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

/* small screens */
/* ------------- */

@media (max-width: $ds44-medium) {

    .ds44-btnStd--large {
        padding: $ds44-padding-box;
    }

}
@media (max-width: $ds44-small) {

    .ds44-btnIcoText--maxi {

        position: relative;
        background-color: transparent;
        margin: 0 1rem;
        padding: 0 0 .5rem 0;
        text-align: center;
        min-width: 6rem;

        .ds44-btnInnerText {
            font-size: .5625em; // 9px
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        // icon margins
        .icon + .ds44-btnInnerText,
        .ds44-btnInnerText + .icon {
          margin-left: 0;
        }
    }
    
    .ds44-fullWBtn {
        padding: $spacer-tiny;
        font-size: 1.4rem;
    }

    .ds44-btnOverlay {
        top: $ds44-margin-base;
        right: $ds44-margin-base;
    }
    

}
