/*
* CD44 Design System - Buttons
*/


button, a.ds44-btnStd {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;

    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

.ds44-btnStd, a.ds44-btnStd {
    @include ds44-font-sizes(button);
    padding: $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    font-weight: bold;
    line-height: 1;
    min-height: $ds44-normalHeight;

    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }
}

.ds44-btnStd--large {
    font-size: 1em; // 16px
    padding: 0 $ds44-padding-large;
    min-height: $ds44-largeHeight;
}

.ds44-btn--invert, a.ds44-btn--invert {
    background-color: $ds44-background-dark;
    color: $ds44-color-inverse;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-hover-dark;
    }
}

.ds44-btn--contextual,
a.ds44-btn--contextual,
.ds44-contextualBtnLink {
    background-color: $ds44-contextual-color;
    border-color: $ds44-contextual-color;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-contextual-hover;
        border-color: $ds44-contextual-color;
    }
}

/* == Icon-text buttons == */

// Link style buttons
.ds44-btnIcoText {
    font-weight: bolder;

    .icon + .ds44-btnInnerText,
    .ds44-btnInnerText + .icon {
        margin-left: 1rem;
        font-size: .875em; // 14px
        vertical-align: sub;

        // icons inside text
        .icon {
            vertical-align: text-top;
            margin-left: .5rem;
            margin-right: .5rem;
            }

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }

}

// Buttons for header (full height)
.ds44-btnIcoText--maxi {
    font-size: .9375em;
    font-weight: bold;
    text-transform: uppercase;
}

// text container for icon-text buttons
.ds44-btnInnerText {
    display: inline-block;
    vertical-align: middle;
}
.ds44-btnInnerText--bottom {
    @include ds44-font-sizes(tinyText);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

// icon margins
.icon + .ds44-btnInnerText,
.ds44-btnInnerText + .icon {
  margin-left: 1.5rem;
}

/* === button style links === */

.ds44-icoLink {
    @include ds44-font-sizes(tinyText);
    display: inline-block;
    max-width: 4rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.ds44-icoTxtWrapper {
    display: block;
    line-height: 1.2;
    margin-top: 3px;
}

.ds44-btnLink {
    font-size: .875em; // 14px
    padding: $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    display: inline-block;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    min-height: $ds44-normalHeight;

    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }
}

/* == Icon buttons == */

.ds44-btnIco {
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-box;

    &.ds44-bgDark:focus {
        background-color: $ds44-gray;
    }
}

/* == Specific buttons == */

.ds44-btnOverlay {
    right: 5.5%; // identical as inner container padding
    position: absolute;
    top: $ds44-components-vmargin; // 3rem
    right: $ds44-components-vmargin; // 3rem
    z-index: 10;
}

.ds44-btnOverlay--modale {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    &:focus {
        outline: 1px dotted;
    }
}

.ds44-fullWBtn {
    width: 100%;
    text-align: center;
    padding: $ds44-padding-large;
    font-weight: bold;

    .ds44-btnInnerText {
        vertical-align: baseline;
    }
}

// Popover - help tool

.ds44-popOver {
    vertical-align: middle;

    .icon-help {
        cursor: help;
    }
}


// Bouton retour à la liste / page précédente

.ds44-btnStd--retourPage,
a.ds44-btnStd--retourPage {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 14%;
    text-align: center;
}


/* --------------- styles for Tooltip -----------------------*/

.js-simple-tooltip {
    padding: 0;
    margin-top: -5px;
}
.simpletooltip[aria-hidden="true"],
.minimalist-simpletooltip[aria-hidden="true"],
.minimalist-left-simpletooltip[aria-hidden="true"] {
  display: none;
}
/* position relative for containers */
.simpletooltip_container,
.minimalist-simpletooltip_container,
.minimalist-left-simpletooltip_container {
  position: relative;
  padding: 0;
}

/* tooltip styles */
.simpletooltip,
.minimalist-simpletooltip,
.minimalist-left-simpletooltip {
  position: absolute;
  z-index: 666;
  border-radius: $ds44-border-radius;
  background-color: #FFF;
  box-shadow: $ds44-smallShadow;
  font-size: 1.4rem;
  padding: $spacer-small;
}
.simpletooltip,
.minimalist-simpletooltip {
  right: 0;
  bottom: 2.5rem;
  margin-left: .5em;
}
.minimalist-left-simpletooltip {
  right: 100%;
  left: auto;
  margin-right: .5em;
}
/* used pseudo-element to make arrows */
.simpletooltip::before,
.minimalist-simpletooltip::before,
.minimalist-left-simpletooltip::before {
  content: '';
  speak: none;
  position: absolute;
  z-index: 0;
  width: 11px;
  height: 11px;
  pointer-events: none;
}
.simpletooltip::before,
.minimalist-simpletooltip::before {
  left: 50%;
  bottom: -6px;
  margin-left: -5px;
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: mobile */
@media (max-width: 44.375em) {

  .simpletooltip,
  .minimalist-simpletooltip,
  .minimalist-left-simpletooltip  {
    top: 100%;
    left: 50%;
	right: 0;
    margin: 0;
	margin-top: .7em;
	margin-left: -5em;
  }
  .simpletooltip::before,
  .minimalist-simpletooltip::before,
  .minimalist-left-simpletooltip::before  {
    top: -10px;
    right: auto;
    left: 50%;
    margin-left: -5px;
    margin-top: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba( 0, 0, 0, .9 );
  }

}

/* /tooltip */



/* medium screens */
/* ------------- */

@media (max-width: $ds44-large - .0625) {

    .ds44-btnOverlay {
        top: $ds44-margin-base;
        right: $ds44-margin-base;
    }
    .ds44-btnStd--retourPage,
    a.ds44-btnStd--retourPage {
    position: relative;
    top: 40px;
    left: 16.666%;
    max-width: 100%;
    margin-bottom: 20px;
  }

}

/* small screens */
/* ------------- */

@media (max-width: $ds44-medium - .0625) {

    .ds44-btnStd--large {
        padding: $ds44-padding-box;
    }
    .ds44-btnStd--retourPage,
    a.ds44-btnStd--retourPage {
        left: 5%;
        top: 1.5rem;
  }

}

@media (max-width: $ds44-small - .0625) {

    .ds44-btnIcoText--maxi {

        position: relative;
        background-color: transparent;
        margin: 0 1rem;
        padding: 0 0 .5rem 0;
        text-align: center;
        min-width: 6rem;

        .ds44-btnInnerText {
            font-size: .5625em; // 9px
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        // icon margins
        .icon + .ds44-btnInnerText,
        .ds44-btnInnerText + .icon {
          margin-left: 0;
        }
    }

    .ds44-fullWBtn {
        padding: $spacer-tiny;
        font-size: 1.4rem;
    }


}
