/*
* CD44 Design System - Buttons
*/


button, a.ds44-btnStd, a > .ds44-btnStd, .ds44-btnStd > a, .ds44-btnIcoText--maxi  {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;

    &:focus {
        -webkit-tap-highlight-color: transparent;
    }

    .ds44-inputDisabled & {
        cursor: default;
    }
}

.ds44-btnStd, a.ds44-btnStd, a > .ds44-btnStd, .ds44-btnStd > a {
    @include ds44-font-sizes(button);
    padding: 1rem $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    font-weight: bold;
    line-height: 1.3;
    min-height: $ds44-normalHeight;

    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }

    &.ds44-btnStd--plat {
        border: none;
        padding: $ds44-padding-large/2;

        &:hover,
        &:active,
        &:focus,
        &:hover > span,
        &:active > span,
        &:focus > span {
          box-shadow: none;
          text-decoration: underline;
        }
    }

    &.ds44-bntALeft {
        text-align: left;
        position: relative;

        .ds44-btnInnerText {
            padding-right: 3rem;
        }

        .icon {
            position: absolute;
            right: 1.5rem;
            top: calc(50% - 9px);
        }
    }

    &.ds44-btnQuestion {
        @include ds44-font-sizes(largeButton);
        padding: $ds44-padding-large;
        right: 7rem;
        transition: bottom 0s;
    }

    &.ds44-theme {
      border:$ds44-contextual-color;
    }

    &.ds44-bntFullw {
        width: 100%;
    }

}

a > .ds44-btnStd,
.ds44-btnStd > a,
.ds44-btnStd--large > a,
a > .ds44-btnStd--large { // gestion de l'alignement des icones dans les boutons wysiwyg


    .icon {
        line-height: 1.1;
    }

}

.ds44-btnStd--large,
a.ds44-btnStd--large,
.ds44-btnStd--large > a,  // pour wysiwyg
a > .ds44-btnStd--large   // pour wysiwyg
{
    @include ds44-font-sizes(largeButton);  // 16px
    padding: $ds44-padding-large;
    min-height: $ds44-largeHeight;
}

.ds44-btn--invert, a.ds44-btn--invert, a > .ds44-btn--invert, .ds44-btn--invert > a {
    background-color: $ds44-background-dark!important;
    color: $ds44-color-inverse!important;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-hover-dark!important;
    }
}

.ds44-btn--contextual,
a.ds44-btn--contextual,
.ds44-contextualBtnLink,
a > .ds44-btn--contextual,
.ds44-btn--contextual > a {
    background-color: $ds44-contextual-color!important;
    border-color: $ds44-contextual-color;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-contextual-hover!important;
        border-color: $ds44-contextual-color;
    }
}

.ds44-bgGray, .ds44-lightBG {

    .ds44-btnStd, .ds44-btnStd--large {
        background-color: $ds44-background-base;

        &.ds44-bgDark {
          background: $ds44-background-dark;
        }
    }

}

/* == Icon-text buttons == */

// Link style buttons
.ds44-btnIcoText {
    font-weight: bolder;

    .icon + .ds44-btnInnerText,
    .ds44-btnInnerText + .icon {
        margin-left: 1rem;
        font-size: .875em; // 14px
        vertical-align: sub;

        // icons inside text
        .icon {
            vertical-align: text-top;
            margin-left: .5rem;
            margin-right: .5rem;
            }

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }

}

// Buttons for header (full height)
.ds44-btnIcoText--maxi {
    font-size: .97em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

// text container for icon-text buttons
.ds44-btnInnerText {
    display: inline-block;
    vertical-align: middle;
}
.ds44-btnInnerText--bottom {
    @include ds44-font-sizes(tinyText);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

// icon margins
.icon + .ds44-btnInnerText,
.ds44-btnInnerText + .icon {
  margin-left: 1.5rem;
}

/* === button style links === */

.ds44-icoLink {
    @include ds44-font-sizes(tinyText);
    display: inline-block;
    max-width: 4rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.ds44-icoTxtWrapper {
    display: block;
    line-height: 1.2;
    margin-top: 3px;
}

.ds44-btnLink {
    font-size: .875em; // 14px
    padding: $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    display: inline-block;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    min-height: $ds44-normalHeight;

    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }
}

/* == Icon buttons == */

.ds44-btnIco {
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-box;

    &.ds44-bgDark:focus {
        background-color: $ds44-gray;
    }

    &--carre {
      padding: 0;
      height: 44px;
      width: 44px;

      & .icon {
          line-height: 1;
      }
    }
}

.ds44-btnOpen {
    top: 0;
    width: 100%;
    text-align: right;
    height: inherit;

    &.ds44-btnIco {
        padding-top: 0;
        padding-bottom: 0;
    }

    .icon {
        line-height: normal;

        &:before {
            line-height: normal;
            margin-top: -1rem;
            display: inline-block;
        }

        &.icon--sizeL:before {
            margin-top: -0.5rem;
        }
    }
}

/* == Specific buttons == */

.ds44-btnOverlay {
    right: 5.5%; // identical as inner container padding
    position: absolute;
    top: $ds44-components-vmargin; // 3rem
    right: $ds44-components-vmargin; // 3rem
    z-index: 10;
}

.ds44-btnOverlay--modale {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    &:focus {
        outline: 1px dotted;
    }
}

.ds44-fullWBtn {
    width: 100%;
    text-align: center;
    padding: $ds44-padding-large;
    font-weight: bold;
}

.ds44-btnStd {
  &.ds44-fullWBtn {
      padding: 1rem $ds44-padding-box;
  }
}

.ds44-btnSelect {

    @include ds44-font-sizes(largeButton);  // 16px
    font-weight: bold;

    .ds44-btnInnerText {
        vertical-align: middle;
    }

}

button.ds44-theme {
  &:focus,
  &:hover,
  &:active {
      background: $ds44-contextual-hover;
  }
}

.ds44-choiceYN button {
  margin: 0 $ds44-margin-base/2 ;
}

// Popover - help tool

.ds44-popOver {
    vertical-align: middle;

    .icon-help {
        cursor: help;
    }
}

// Bouton retour à la liste / page précédente

.ds44-btnStd--retourPage,
a.ds44-btnStd--retourPage {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 14%;
    text-align: center;
    z-index:10;
}


// Bouton Cluster map
.ds44-btnStd {

  &--cluster {
    border-radius: 50%;
    width: 43px;
    height: 43px;
    padding: 0;
    @include ds44-font-sizes(largeButton);  // 16px
    min-height: inherit;
    border: 2px solid $ds44-dark;

    &--bigger {
      width: 63px;
      height: 63px;
    }

    &:hover {
      border: 2px solid $ds44-dark;
    }

    & .ds44-btnInnerText {
      line-height: 1;
    }
  }
}



/* medium screens */
/* ------------- */

@media (max-width: $ds44-large - .0625) {

    .ds44-btnOverlay {
        top: $ds44-margin-base;
        right: $ds44-margin-base;
    }

    .ds44-btnStd--retourPage,
    a.ds44-btnStd--retourPage {
        position: relative;
        top: 40px;
        left: 16.666%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .ds44-btnStd, a.ds44-btnStd, a > .ds44-btnStd, .ds44-btnStd > a {
        &.ds44-btnQuestion {
            right: 7rem;
        }
    }

}

/* small screens */
/* ------------- */

@media (max-width: $ds44-medium - .0625) {

    .ds44-btnStd--large {
        padding: $ds44-padding-box;
    }

    .ds44-btnStd--retourPage,
    a.ds44-btnStd--retourPage {
        left: 5%;
        top: 1.5rem;
    }

    .ds44-btnStd, a.ds44-btnStd, a > .ds44-btnStd, .ds44-btnStd > a {

        &.ds44-btnFullMobile {
          width: 100%;
          text-align: center;
        }

    }

}

@media (max-width: $ds44-small - .0625) {

    .ds44-btnIcoText--maxi {

        position: relative;
        margin: 0 1rem;
        padding: 0 0 .5rem 0;
        text-align: center;
        min-width: 6rem;

        .ds44-btnInnerText {
            font-size: .86rem;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        // icon margins
        .icon + .ds44-btnInnerText,
        .ds44-btnInnerText + .icon {
          margin-left: 0;
        }
    }

    .ds44-fullWBtn {
        padding: $spacer-tiny;
        font-size: 1.4rem;
    }

    .ds44-btnSelect {
        @include ds44-font-sizes(largeButton);
        padding: $ds44-padding-large;
    }

    .ds44-btnStd, a.ds44-btnStd, a > .ds44-btnStd, .ds44-btnStd > a {

        &.ds44-btnStd--plat {
            padding: $ds44-padding-medium;
        }

        &.ds44-btnQuestion {
            right: $ds44-mobile-margins;
        }

    }

}


/* Media Queries Print / Impression */
@media print {

  .ds44-btn--invert, a.ds44-btn--invert, a > .ds44-btn--invert, .ds44-btn--invert > a {
      background-color: $ds44-color-inverse!important;
      color: $ds44-background-dark!important;
      border: 1px solid $ds44-background-dark ;
  }

  .ds44-btnStd,
  .ds44-fullWBtn,
  .ds44-btnStd--large,
  .ds44-btn--inverted,
  .ds44-btnLink,
  .ds44-btn-fixed,
  .ds44-btnIco {
    display: none !important;
  }

}
