/*
* CD44 Design System - Buttons
*/
  

[type="button"],
button {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out $ds44-timing-faster;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;

    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

.ds44-btnStd {
    @include ds44-font-sizes(bodySize);
    padding: 0 $ds44-padding-box;
    border-radius: $ds44-border-radius;
    border: 1px solid $ds44-dark;
    font-weight: bold;
    background-color: $ds44-light-color;
    line-height: 1;
    min-height: $ds44-normalHeight;
    
    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        border: 1px solid $ds44-darkgray;
    }
}

.ds44-btnStd--large {
    padding: 0 $ds44-padding-large;
    min-height: $ds44-largeHeight;
}

.ds44-btn--invert {
    background-color: $ds44-background-dark;
    color: $ds44-color-inverse;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-hover-dark;
    }
}

.ds44-btn--contextual {
    background-color: $ds44-contextual-color;
    border-color: $ds44-contextual-color;

    &:focus,
    &:hover,
    &:active {
        background-color: $ds44-contextual-hover;
        border-color: $ds44-contextual-color;
    }
}

/* Icon-text buttons */

// Buttons for header (full height)
.ds44-btnIcoText--maxi {
    font-size: .9375em;
    font-weight: bold;
    text-transform: uppercase;
}

// text container for icon-text buttons
.ds44-btnInnerText {
    display: inline-block;
    vertical-align: middle;
}

// icon margins
.icon + .ds44-btnInnerText,
.ds44-btnInnerText + .icon {
  margin-left: 1.5rem;
}

// button style link
.ds44-icoLink {
    @include ds44-font-sizes(tinyText);
    display: inline-block;
    max-width: 4rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
.ds44-icoTxtWrapper {
    display: block;
}

/* small screens */
/* ------------- */

@media (max-width: $ds44-medium) {

    .ds44-btnStd--large {
        padding: $ds44-padding-box;
    }

}
@media (max-width: $ds44-small) {


    .ds44-btnIcoText--maxi {

        position: relative;
        background-color: transparent;
        margin: 0 1rem;
        padding: 0 0 .5rem 0;
        text-align: center;
        min-width: 6rem;

        .ds44-btnInnerText {
            font-size: .5625em; // 9px
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        // icon margins
        .icon + .ds44-btnInnerText,
        .ds44-btnInnerText + .icon {
          margin-left: 0;
        }
    }
    

}
