:root {
    --vanilla-calendar-bg-color: #fff;
    --vanilla-calendar-border-radius: 5px;
    --vanilla-calendar-border-color: #e7e9ed;
    --vanilla-calendar-today-bg-color: #E7E9ED;
    --vanilla-calendar-today-color: #333;
    --vanilla-calendar-selected-color: #fff;
    --vanilla-calendar-selected-radius: 5px;
}

.vanilla-calendar {
    position: absolute;
    background-color: var(--vanilla-calendar-bg-color);
    border-radius: var(--vanilla-calendar-border-radius);
    border: solid 1px var(--vanilla-calendar-border-color);
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    overflow: hidden;
    width: 350px;
    right: 0;
    z-index: 10000;

    @media screen and (max-width: ($ds44-medium - .0625))  {
        width: auto;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .vanilla-calendar-btn {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-appearance: button;
        background: none;
        border: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        line-height: normal;
        min-width: 27px;
        outline: none;
        overflow: visible;
        padding: 0;
        text-align: center;

        &:active {
            border-radius: var(--vanilla-calendar-border-radius);
            box-shadow: 0 0 0 2px rgba(var(--vanilla-calendar-today-bg-color), 0.1)
        }

    }

    .vanilla-calendar-header {
        align-items: center;
        display: flex;
        padding: 10px;
        text-transform: uppercase;

        svg {
            fill: var(--vanilla-calendar-today-color);
        }

        &__label {
            font-weight: bold;
            text-align: center;
            width: 100%;
        }
    }

    .vanilla-calendar-week {
        display: flex;
        flex-wrap: wrap;

        span {
            color: $ds44-color-base;
            flex-direction: column;
            flex: 0 0 14.28%;
            font-size: 1em;
            font-weight: bold;
            max-width: 14.28%;
            padding: 15px 0px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .vanilla-calendar-body {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px
    }

    .vanilla-calendar-date {
        align-items: center;
        background-color: #fff;
        border-radius: var(--vanilla-calendar-border-radius);
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(14.28% - 6px); //14.28% correspond à 100%/7 jour de la semaine, le 6px correspond aux marges de 3px de chaque côté
        max-width: calc(14.28% - 6px);
        padding: 10px 0;
        height: 44px; //Le bloc fait 50px de hauteur
        margin: 3px;

        &--active {
            cursor: pointer;
        }

        &--today {
            background-color: $ds44-contextual-color;
        }

        &--selected {
            background: $ds44-background-dark;
            color: $ds44-color-inverse;
        }

        &:hover {
          background: $ds44-background-dark;
          color: $ds44-color-inverse;
        }

        &--disabled {
            border-radius: 0;
            cursor: not-allowed;
            opacity: 0.2;
        }
    }
}
