// Card common styles

.ds44-card {
    position: relative;
    background-color: $ds44-lightgray;
    transition-duration: $ds44-timing-standard;
    transition-property: box-shadow;
    transition-timing-function: ease;
    margin-bottom: $ds44-medium-vmargin;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
        box-shadow: $ds44-boxShadow;

        .ds44-cardArrow {
            opacity: 1;
        }
    }

    .ds44-imgRatio {
        position: absolute;
        height: 100%;
      }
    .ds44-cardLocalisation .icon{
      line-height: 1;
    }
}
.ds44-cardArrow {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        opacity: 0;
        color: $ds44-contextual-color;
        transition-duration: $ds44-timing-standard;
        transition-property: opacity;
        transition-timing-function: ease;
}
.ds44-card--verticalPicture {
    background-color: $ds44-lightgray;
    height: 100%;
}
.ds44-card__section {
    padding:  $ds44-padding-medium $ds44-padding-box;

}

.ds44-card__globalLink {
    text-decoration: none;
    color: #000000;

    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}
.ds44-card__title {
    margin-bottom: $headings-margin-bottom;
    padding: 0;
    font-size: 1.7rem; // 17px
    font-weight: bold;
    line-height: 1.2;
    background: transparent;
    font-family: $ds44-font-family-base;
}
.ds44-cardPicture {
    object-fit: cover;
    min-width: 120px;
}
.ds44-cardFile {
    @include ds44-font-sizes(smallText);
    color: $ds44-gray;
}
.ds44-theme .ds44-cardFile {
    color: $ds44-darkgray;
}

// Horizontal card specific styles

.ds44-card__section--horizontal {
    padding:  $ds44-padding-small $ds44-padding-xlarge;
}

.ds44-card__section--horizontal--img {
  width: auto;
  min-width: 38%;
}

// Calendar card

.ds44-card__dateContainer {
    padding:  $ds44-padding-small;
    background-color: $ds44-contextual-color;
    text-align: center;
    min-height: 14rem;
    min-width: 14rem;
}
.ds44-cardDateNumber {
    font: bold 2.375em/1 $ds44-font-family-headings;
    display: block;
}
.ds44-cardDateMonth {
    font: normal 1.5em/1 $ds44-font-family-headings;
    display: block;
}
.ds44-cardMultiDates { // if card displays multiple dates (range)
    .ds44-cardDateNumber {
        font-size: 2.1875em;
    }
    .ds44-cardDateMonth {
        font-size: 1.125em;
    }
}

.ds44-card.ds44-container-imgRatio--tuileMiseEnAvant,
.ds44-card--verticalPicture {
    font-size: 1.4rem;

    .ds44-cardLocalisation .icon{
      font-size: 1.6rem;
    }
}

/* large screens */
/* ------------- */
@media (min-width: $ds44-large ) and (max-width: ($ds44-extra-large - .0625)) {

  .ds44-card__dateContainer {
      min-width: 9rem;
  }

}

/* medium screens */
/* ------------- */
@media (min-width: $ds44-medium ) and (max-width: ($ds44-large - .0625)) {

  .ds44-card__dateContainer {
      min-width: 6rem;
  }

}

/* small screens */
/* ------------- */
@media (min-width: $ds44-small) and (max-width: ($ds44-large - .0625)) {

  .ds44-card__section--horizontal--img {
    min-width: 20%;
  }

}


@media (max-width: $ds44-small) {

    .ds44-card__dateContainer {
        padding-left: $spacer-small;
        padding-right: $spacer-small;
        min-width: 10rem;
    }

    .ds44-card--horizontal {

        .ds44-card__img {
            min-height: 100%;
        }

    }

    .ds44-card__section--horizontal {
        padding-right: $ds44-padding-box;
        padding-left: $ds44-padding-box;
    }

    .ds44-cardPicture {
        min-width: 105px;
    }

}
