// Card common styles

.ds44-card {
    position: relative;
    background-color: $ds44-lightgray;
    transition-duration: $ds44-timing-standard;
    transition-property: box-shadow;
    transition-timing-function: ease;
    margin-bottom: $ds44-medium-vmargin;

    &:focus,
    &:hover,
    &:active { 
        box-shadow: $ds44-boxShadow;

        &::after { // gestion de la flèche au survol
            opacity: 1;
        } 
    }

    &::after { // gestion de la flèche au survol
        content: "\E002"; // icon arrow right
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        color: $ds44-contextual-color;
        font-family: "ds44-icons";
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        font-size: 1.2em;
        opacity: 0;
        transition-duration: $ds44-timing-standard;
        transition-property: opacity;
        transition-timing-function: ease;
    } 
}
.ds44-card--verticalPicture {
    background-color: $ds44-lightgray;
}
.ds44-card__section {
    padding:  $ds44-padding-medium $ds44-padding-box;
}
.ds44-card__globalLink { 
    text-decoration: none;
    color: #000000;
    
    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}
.ds44-card__title {
    margin-bottom: $headings-margin-bottom;
    padding: 0;
    font-size: 1.0625em; // 17px
    font-weight: bold;
    line-height: 1.2;
}
.ds44-cardPicture--hcardPicture {
    min-width: 38%;
    object-fit: cover;
}
.ds44-cardFile {
    @include ds44-font-sizes(smallText);
    color: $ds44-gray;
}

// Horizontal card specific styles

.ds44-card__section--horizontal {
    padding:  $ds44-padding-small $ds44-padding-xlarge;
}

// Calendar card

.ds44-card__dateContainer {
    padding:  $ds44-padding-small;
    background-color: $ds44-contextual-color;
    text-align: center;
    min-height: 14rem;
    min-width: 14rem;
}
.ds44-cardDateNumber {
    font: bold 2.375em/1 $ds44-font-family-headings;
    display: block;
}
.ds44-cardDateMonth {
    font: normal 1.5em/1 $ds44-font-family-headings;
    display: block;
}
.ds44-cardMultiDates { // if card displays multiple dates (range)
    .ds44-cardDateNumber {
        font-size: 2.1875em;
    }
    .ds44-cardDateMonth {
        font-size: 1.125em;
    }
}
.ds44-cardLocalisation {
    font-size: .8125em;

    .icon {
        font-size: 1.2em;
    }
}

/* small screens */
/* ------------- */

@media (max-width: $ds44-small) {

    .ds44-card__dateContainer {
        padding-left: $spacer-small;
        padding-right: $spacer-small;
        min-width: 10rem;
    }

}

/* Medium screens */
/* ------------- */

@media (max-width: $ds44-large) {

    .ds44-cardPicture--hcardPicture {
        min-width: 14rem;
    }

}