  // Carrousel DS44
  .ds44-list .swipper-carousel-wrap {
    padding-left: $ds44-container-large-margin;
    padding-right: $ds44-container-large-margin;
  }

  .swiper-container {
    padding: 1rem 1.6rem 3rem 1.6rem;
    margin: 0 calc(5.5% - 1.6rem);
  }
  .swiper-container .ds44-card {
    margin-bottom: 0;
  }
  div .swiper-button-next,
  div .swiper-button-prev {
      color: #000;
      width: auto;
      height: auto;
      position: absolute;
      top: calc(50% - 15px);
      transform: translateY(-50%);
      border-radius: 3px;
      z-index: 800;
      padding: 15px 20px;
      margin: 0;
      display: block;
  }

  div .swiper-button-next .icon,
  div .swiper-button-prev .icon{
      display: block;
  }

  div .swiper-button-prev,
  div .swiper-container-rtl .swiper-button-prev {
      left: 0;
      right: auto;
  }

  div .swiper-button-next,
  div .swiper-container-rtl .swiper-button-next {
      right: 0;
      left: auto;
  }

  div .swiper-button-next.ds44-not-edge-42::after,
  div .swiper-button-prev.ds44-not-edge-42::after {
      font-size: 25px;
  }

  div .swiper-button-next.ds44-not-edge-42 i::before,
  div .swiper-button-prev.ds44-not-edge-42 i::before {
       content: none;
  }

  div .swiper-button-disabled {
      display: none;
  }

  .swiper-button-hidden {
      position: absolute;
      left: -10000px;
      top: auto;
  }

  div .swipper-carousel-wrap {
      position: relative;
      width: 100%;
      padding: 0px 36px;
  }

  div .swiper-slide {
      z-index: 1;
  }

  /*style quand il n'y a pas de js*/

  .ds44-carousel-swiper {
      flex-wrap: wrap;
  }

  .ds44-carousel-swiper li {
      width: calc(25% - 10px);
      flex-shrink: 1;
      margin-right: 10px;
  }

  .ds44-carousel-swiper li:last-child {
      margin-right: 0px;
  }

  .ds44-carousel-swiper.grid-3-small-1 li:nth-child(3n) {
      margin-right: 0px;
  }

  .ds44-carousel-swiper.grid-4-small-1 li:nth-child(4n) {
      margin-right: 0px;
  }

  @media screen and (max-width: $ds44-medium -.0625) {

    .ds44-carousel-swiper li {
        width: auto;
    }

    .ds44-container-large.swipper-carousel-wrap {
      margin: 0;
    }

    .swiper-container {
      padding: 1rem 3rem 3rem 3rem ;
      margin: 0;
    }

    div .swiper-button-next, div .swiper-button-prev {
      color: #FFF;
      width: auto;
      height: auto;
      background: #000;
      padding: 15px 20px;
    }

    div .swiper-button-next::after, div .swiper-button-prev::after {
        font-size: 15px;
    }

  }

  @media screen and (max-width: $ds44-small -.0625) {

      .swipper-carousel-wrap {
          margin-left: -$ds44-mobile-margins;
          margin-right: -$ds44-mobile-margins;

        }


  }
