// Card common styles

.ds44-card {
    position: relative;
    background-color: $ds44-lightgray;
    transition-duration: $ds44-timing-standard;
    transition-property: box-shadow;
    transition-timing-function: ease;
    margin-bottom: $ds44-medium-vmargin;

    &.ds44-card--contact {
        border-bottom: 0.2rem solid $ds44-contextual-color;
        background: $ds44-lightgray;

        .ds44-card__section {
            padding: $ds44-padding-large;
            position: relative;
        }

        .ds44-innerBoxContainer {
            padding: 0;
        }
    }

    &.ds44-js-card {

        &:focus,
        &:hover,
        &:active {
            cursor: pointer;

            a {
                text-decoration: underline;
            }
        }

    }

    &.ds44-card--fiche {
        background: transparent;

        .ds44-card__section {
            padding: 0;
        }

        &:focus,
        &:hover,
        &:active {
            box-shadow: none;
        }
    }

    &.ds44-cardIsPartner {
        .ds44-cardPartner {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.625rem;
            background: $ds44-contextual-color;
            font-weight: bold;
            line-height: normal;
        }

        .ds44-cardTitle {
            padding-top: $ds44-padding-large;
        }

    }

    &.ds44-cardIsFocus {
          background-color: $ds44-contextual-color !important;
          border-color :  $ds44-gray;

          hr {
            color: $ds44-gray;
            background-color: $ds44-gray;
          }

          .ds44-cardPartner {
              background: $ds44-light ;
          }
          &:focus,
          &:hover,
          &:active {
            .ds44-cardArrow {
              color: $ds44-dark;
            }
          }
    }

    &:focus,
    &:hover,
    &:active {
        box-shadow: $ds44-boxShadow;

        .ds44-cardArrow {
            opacity: 1;
        }
    }

    .ds44-cardTitle {
        font-size: 2.4rem;

        a {
          text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
    }

    .ds44-cardGlobalLink {
        text-decoration: none;
    }

    .ds44-imgRatio {
        position: absolute;
        height: 100%;
    }

    .ds44-cardPartner {
        display: none;
    }

    .ds44-cardSelect {
        position: absolute;
        top: 0;
        right: 0;
    }

    .ds44-cardArrow {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        padding: $ds44-padding-medium;
        color: $ds44-contextual-color;
        transition-duration: $ds44-timing-standard;
        transition-property: opacity;
        transition-timing-function: ease;
    }
}

a.ds44-card {
  display: block;
  text-decoration: none;
}

.ds44-card--verticalPicture {
    background-color: $ds44-lightgray;
    height: 100%;

    &--elu {
      text-align: center;
      padding-top : $ds44-padding-large;

      .ds44-container-imgRatio--profil,
      .ds44-container-imgRatio--profilXL {
        margin: 0 auto;
      }
    }
}

.ds44-card__section {
    padding: $ds44-padding-medium $ds44-padding-box;
    height: 100%;
    position: relative;
}

.ds44-card__globalLink {
    text-decoration: none;
    color: #000000;

    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.ds44-card__title {
    margin-bottom: $headings-margin-bottom;
    padding: 0;
    font-size: 1.7rem; // 17px
    font-weight: bold;
    line-height: 1.2;
    background: transparent;
    font-family: $ds44-font-family-base;
}

.ds44-cardPicture {
    object-fit: cover;
    min-width: 120px;

    @media (max-width: $ds44-small - .0625) {
        min-width: 105px;
    }
}

.ds44-cardFile {
    @include ds44-font-sizes(smallText);
    color: $ds44-gray;
}

.ds44-theme .ds44-cardFile {
    color: $ds44-darkgray;
}

// Horizontal card specific styles

.ds44-card__section--horizontal {
    padding: $ds44-padding-large $ds44-padding-xlarge;

    @media (max-width: $ds44-small - .0625) {
        padding-right: $ds44-padding-box;
        padding-left: $ds44-padding-box;
    }
}

.ds44-card__section--horizontal--img {
    width: auto;
    min-width: 38%;

    @media (min-width: $ds44-small) and (max-width: ($ds44-large - .0625)) {
        min-width: 20%;
    }

    &--dim110 {
        min-width: 31%;

        @media (min-width: $ds44-extra-large) {
            min-width: 110px;
        }
    }
}

// Calendar card

.ds44-card__dateContainer {
    padding: $ds44-padding-small;
    background-color: $ds44-contextual-color;
    text-align: center;
    min-height: 14rem;
    min-width: 14rem;
    flex-direction: column;

    @media (max-width: $ds44-small - .0625) {
        padding-left: $spacer-small;
        padding-right: $spacer-small;
        min-width: 10rem;
    }

    @media (min-width: $ds44-large - .0625) and (max-width: ($ds44-extra-large - .0625)) {
        min-width: 9rem;
    }

    @media (min-width: $ds44-medium - .0625) and (max-width: ($ds44-large - .0625)) {
        min-width: 6rem;
    }
}

.ds44-cardDateNumber {
    font: bold 2.375em/1 $ds44-font-family-headings;
    display: block;

    .ds44-two-dates & {
        font: bold 2em/1 $ds44-font-family-headings;
    }
}

.ds44-cardDateMonth {
    font: normal 1.5em/1 $ds44-font-family-headings;
    display: block;

    .ds44-two-dates & {
        font: normal 1.2em/1 $ds44-font-family-headings;
    }
}

.ds44-cardMultiDates { // if card displays multiple dates (range)
    .ds44-cardDateNumber {
        font-size: 2.1875em;
    }

    .ds44-cardDateMonth {
        font-size: 1.125em;
    }
}

.ds44-cardDate,
.ds44-cardLocalisation {
    font-size: .8125em;

    .icon {
        font-size: 1.2rem;
        line-height: 1;
    }

    &.ds44-docListElem {
        padding-left: 2rem;
        margin-bottom: .5rem;
    }
}

.ds44-card--horizontal {
    .ds44-card__img {
        @media (max-width: $ds44-small - .0625) {
            min-height: 100%;
        }
    }
}

/*
    MEDIA QUERIES
    */

@media (max-width: $ds44-tiny - .0625) {

    .ds44-tiny-reducedFont .ds44-card__globalLink {
        font-size: smaller;
    }

}

/* Media Queries Print / Impression */
@media print {

    .ds44-card__dateContainer {
        min-height: 5rem;
        min-width: 5rem;
    }


}
