// Carrousel DS44
.swipper-carousel-wrap {
    .ds44-list & {
        padding-left: $ds44-container-large-margin;
        padding-right: $ds44-container-large-margin;
    }

    &.ds44-container-large,
    .ds44-homepage-container & {
        @media screen and (max-width: $ds44-medium - .0625) {
            margin: 0;
        }
    }

    .swiper-container {
        padding: 1rem 1.6rem 3rem 1.6rem;
        margin: 0 calc(5.5% - 1.6rem);
        margin: 0 -webkit-calc(5.5% - 1.6rem);

        @media screen and (max-width: $ds44-medium - .0625) {
            padding: 1rem 0 0 0;
            margin: 0 auto;
        }

        .swiper-wrapper {
            .swiper-slide {
                z-index: 1;
                height: auto;

                .ds44-diaporama-vignette {
                    background-color: $ds44-background-dark;
                    height: 615px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media screen and (max-width: $ds44-small - .0625) {
                        height: 40vh;
                    }

                    .ds44-diaporama-vignette-container {
                        display: flex;
                        justify-content: center;

                        .ds44-diaporama-vignette-image {
                            display: block;
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }

                        .ds44-diaporama-vignette-text {
                            position: absolute;
                            top: -100000px;
                        }
                    }
                }

                .ds44-diaporama-thumb {
                    display: block;
                    width: 7.8rem;
                    height: 7.8rem;
                    background-position: center center;
                    background-size: cover;
                }

                .ds44-card {
                    margin-bottom: 0;
                }
            }
        }
    }

    .swiper-pagination {
        position: static;
        width: 100%;
        background-color: $ds44-light-bg;
        text-align: center;
        padding: 1rem 0;
        min-height: 4rem;

        .swiper-pagination-bullet {
            background: none;
            width: auto;
            height: auto;
            display: none;
            color: $ds44-gray;

            &.swiper-pagination-bullet-active {
                display: block;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #000;
        width: auto;
        height: auto;
        position: absolute;
        top: calc(50% - 15px);
        top: -webkit-calc(50% - 15px);
        transform: translateY(-50%);
        border-radius: 3px;
        z-index: 50;
        padding: 15px 20px;
        margin: 0;
        display: block;

        @media screen and (max-width: $ds44-medium - .0625) {
            color: #FFF;
            width: auto;
            height: auto;
            background: #000;
        }

        &.swiper-button-white {
            color: #fff;
        }

        &.ds44-not-edge-42 {
            &::after {
                font-size: 25px;

                @media screen and (max-width: $ds44-medium - .0625) {
                    font-size: 15px;
                }
            }

            i::before {
                content: none;
            }
        }

        &.swiper-button-disabled {
            display: none;
        }

        &.swiper-button-hidden {
            position: absolute;
            left: -10000px;
            top: auto;
        }

        .icon {
            display: block;
        }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-prev {
        left: 0;
        right: auto;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-next {
        right: 0;
        left: auto;
    }

    .swiper-thumbs {
        background-color: $ds44-light-bg;
        display: flex;
        align-items: center;

        .swiper-thumbs-container {
            max-width: 930px;
            margin: 0 auto;
            padding: 1rem 0 2rem 0;

            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        width: auto;
                        cursor: pointer;

                        &.swiper-slide-thumb-active {
                            border-bottom: 2px solid $ds44-LA;
                        }
                    }
                }
            }
        }
    }

    &.swipper-carousel-slideshow {
        position: relative;

        .swiper-container {
            padding: 0;
            margin: 0;

            .swiper-wrapper {
                margin: 0;
                grid-gap: 0;

                .swiper-slide {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .ds44-btnIco {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 100;
        }
    }

    &.swipper-carousel-slideshow-slave {
        height: 100%;
        width: 100%;

        .swiper-container {
            height: 100%;
            width: 100%;
        }
    }
}

.ds44-ssTitreH1_home {
    font-size: 3.4rem;

    @media screen and (max-width: $ds44-small - .0625) {
        font-size: 2.4rem;
    }
}


/* Media Queries Print / Impression */
@media print {




}
