/* ----------------------------- */
/* ==Collapser                   */
/* ----------------------------- */

/* component structure */
.ds44-collapser, ul.ds44-collapser {
  list-style: none; // if collapser is a list
  padding: 0;
  margin: 2rem 0 4rem 0;
  border-top: 1px solid $ds44-contextual-color;

  li.ds44-collapser_element, li {
    list-style: none!important;
  }

  /* container for collapsed content */
  .ds44-collapser_element {
    border-bottom: 1px solid $ds44-contextual-color;
    list-style: none; // if collapser is a list
    
    .ds44-collapser_content li {
      list-style: none;
      margin-top: 0;

      &:first-child {
        margin-top: $ds44-padding-box;
      }

      > ul > li:first-child {
        margin-top: 0;
      }
    }

    /* Specific collapser for select multilevel */
    &.ds44-collapser--select {
      border: none;

      .ds44-collapser_content,
      .ds44-collapser_content--level2 {
        background-color: $ds44-light-color;
      }
    }

  }
  
  .ds44-collapser_content--level2 {
    padding-left    : $ds44-padding-xlarge;
    padding-right   : $ds44-padding-xlarge;
    padding-bottom  : $ds44-padding-box;
  }
  .ds44-collapser_content--level3 {
    padding-left    : $ds44-padding-xlarge*2;
  }
  

  /* Specific collapser for select multilevel */
  &.ds44-listSelect {
    border: none;
  }
  
}

/* row-like button */
.ds44-collapser_button {
  @include ds44-font-sizes(collapserLinks);
  padding: $ds44-padding-box 3.5rem $ds44-padding-box $ds44-padding-box ;
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  position: relative;
  line-height: 1.4;  

  .icon {
    position: absolute;
    right: 1rem;
    top: 1.5rem;

    &::before {
      line-height: .7;
      transition: transform ease-in-out $ds44-timing-standard;
      display: block;
    }
  }

  &.show {

    font-weight: bolder;

    .icon::before {
      transform: rotate(180deg);
      margin-top: 5px;
    }
  }

}

.ds44-collapser_content {
  background-color: $ds44-light-bg;
  transition: all $ds44-timing-slower ease-in-out;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.ds44-collapser_content--link,
.ds44-collapser_content--buttonLike {
  @include ds44-font-sizes(collapserLinks);
  text-decoration: $ds44-link-list-decoration;
  padding: $ds44-padding-medium $ds44-padding-xlarge $ds44-padding-medium $ds44-padding-box;
  display: block;
  position: relative;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }

}


/* --
  -------------
  MEDIA QUERIES
  -------------
  -- */


@media (max-width: $medium - .0625) {
  
  .ds44-collapser, ul.ds44-collapser {
    
    .ds44-collapser_content--level2 {
      padding-left    : 0;
      padding-right   : 0;
    }
    
    .ds44-collapser_content--level3 {
      padding-left    : $ds44-padding-medium*2;
    }

  }
  
}


@media (max-width: $small - .0625) {
  
  .ds44-collapser_content--link {
    padding: $ds44-padding-medium $ds44-padding-large;
  }

}
