/* ----------------------------- */
/* ==Collapser                   */
/* ----------------------------- */

/* component structure */
.ds44-collapser {
  list-style: none; // if collapser is a list
  padding: 0;
  margin: 2rem 0 4rem 0;
  border-top: 1px solid $ds44-LA-color;
}

/* container for collapsed content */
.ds44-collapser_element {
  border-bottom: 1px solid $ds44-LA-color;
}

/* row-like button */
.ds44-collapser_button {
  font-size: 1.6rem;
  padding: $ds44-padding-box 3.5rem $ds44-padding-box $ds44-padding-box ;
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  position: relative;

  &::after {
    content: "";
    width:2rem;
    height:2rem;
    display: block;
    background: url('../images/icons.svg') no-repeat 0 -682px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    transition: all $ds44-timing-slower ease-in-out;
  }

  &.show::after {
    transform: rotate(180deg);
  }

}

.ds44-collapser_content {
  background-color: $ds44-light-bg;
  transition: all 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.ds44-collapser_content--link,
.ds44-collapser_content--buttonLike {
  text-decoration: $ds44-link-list-decoration;
  margin: $ds44-padding-large;
  display: block;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-top: -0.4rem; // magic number for Chrome vertical align middle issue
    background: url('../images/icons.svg') no-repeat -20px -120px;
    opacity: 0;
    transition: all $ds44-timing-faster ease-in;
  }

  &:hover, &:focus, &:active {
    text-decoration: $ds44-link-list-decoration-hover;

    &::after {
      opacity: 1;
      background-position-x: 0;
    }

  }
}
.ds44-collapser_content--buttonLike {
  margin: $ds44-padding-box;
}

@media (max-width: $small) {
  
  .ds44-collapser_content {
    padding: 0 $ds44-padding-medium;
  }
  .show + .ds44-collapser_content {
    padding: $ds44-padding-medium;
  }
  .ds44-collapser_content--link {
    padding: $ds44-padding-medium $ds44-padding-large;
  }

}

@media (max-width: $medium) {
  
}

