/* ----------------------- */
/* ==DS44 Footer           */
/* ----------------------- */

footer {
    border-top: 1px solid #CCCCCC;
}

.footerLink {
    @include ds44-font-sizes(smallText);
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    margin-bottom: $ds44-small-vmargin;
  }

.ds44-rsFootLink {
    font-size: 1.4em;
    display: block;
}
footer .ds44-logo {
    width: 122px;
    margin-left: auto;
    margin-right: auto;
}
.ds44-icoLink--footer {
    margin-top: 5rem;
}

/* smaller screens */
/* ------------- */

@media (max-width: $ds44-large) {
    
    footer {
        text-align: center;
    }
    footer .ds44-logo {
        max-width: 122px;
    }

}