/* ----------------------- */
/* ==DS44 Footer           */
/* ----------------------- */

footer {
    border-top: 1px solid #CCCCCC;
    position: relative;
}

.ds44-footerLink {
    @include ds44-font-sizes(smallText);
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    margin: 1rem 0 .5rem 0;

    &:hover {
        text-decoration: underline;
    }
  }

.ds44-rsFootLink {
    font-size: 1.4em;
    display: block;
    padding-left: $ds44-padding-large;
    padding-right: $ds44-padding-large;

    :hover {
        color : $ds44-hover-dark;
    }
}

footer .ds44-logo {
    width: 122px;
}

.ds44-icoLink--footer {
    margin-right: 1rem;
    margin-bottom:  2rem;
}

footer [role="heading"] {
    font-weight: normal;
}

/* smaller screens */
/* ------------- */

@media (max-width: $ds44-large - .0625) {


    footer .ds44-logo {
        max-width: 122px;
    }

    .ds44-rsFootLink {
        margin-bottom: $ds44-large-vmargin;
    }

    .ds44-footerLink {
        margin: 0 1rem 1.5rem 1rem;
    }

    .ds44-footerList {
        margin-bottom: 0;
        margin-top: .5rem;
    }

}

@media (max-width: $ds44-medium - .0625) {

    footer {
        text-align: center;

        .ds44-docListElem {
          margin-left: auto;
          margin-right: auto;
          display: table;

          i ~ a {
            width: 100%;
          }
        }
    }

}



/* Media Queries Print / Impression */
@media print {

  footer {
    display: none !important;
  }

}
