/*
* CD44 Design System - Forms
*/

 /**
  * Input placeholder text base styles
  */
::-webkit-input-placeholder {
    color: $ds44-dark;
    font-family: $ds44-font-family-base;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $ds44-dark;
    font-family: $ds44-font-family-base;
} 

:-ms-input-placeholder {
    color: $ds44-dark;
    font-family: $ds44-font-family-base;
}
 
 /**
  * Input basics
  */

.ds44-form__container {
    position: relative;
    margin: $ds44-medium-vmargin 0;
}
.ds44-form__container--external {
    margin: 0 0 $ds44-medium-vmargin 0;
}

.ds44-formLabel {
    @include ds44-font-sizes(smallText);
    color: $ds44-graytext-color;
    display: block;
    position: relative;
    font-weight: normal;
    margin-bottom: 0;

    .ds44-labelTypePlaceholder, 
    .ds44-labelTypePlaceholderLarge {
        position: absolute;
        top: $ds44-padding-medium;
        left: $ds44-padding-box;
        transition: all $ds44-timing-standard ease-in-out;

        &.ds44-moveLabel {
            font-size: .8125em; // 13px instead of 14px
            top: -$ds44-padding-medium*2;
            left: 0;
        }
    }

    .ds44-labelTypePlaceholderLarge {
        top: $ds44-padding-large;    
        font-size: 1.6rem;
    }
}

.ds44-formLabel--external {
    font-size: .9375em; // 15px
    color: $ds44-color-dark-text;
    margin: $ds44-small-vmargin 0;
    display: block;
}

.ds44-form__container--external {
    .ds44-formLabel--external {
        margin-top: .5rem;
    }
}

.ds44-inpStd {
    @include ds44-font-sizes(smallText);
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-medium $ds44-padding-box;
    border: 1px solid $ds44-gray;
    min-width: 100%;
    vertical-align: middle;
    min-height: $ds44-normalHeight;

    &:disabled {
        background-color: $ds44-light-bg;
    }
}

.ds44-inpLarge {
    @include ds44-font-sizes(bodySize);
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-large;
    border: 1px solid $ds44-gray;
    min-width: 100%;
    vertical-align: middle;
    min-height: $ds44-largeHeight;

    &:disabled {
        background-color: $ds44-light-bg;
    }
}

.ds44-bgDark .ds44-moveLabel {
    color: $ds44-color-inverse;
}

.ds44-format {
    color: $ds44-color-soft-text;
}
 
/**
 * Moteurs de recherche à facettes
 */

.ds44-facetteContainer {
     padding: $ds44-padding-large;
     background-color: $ds44-dark;
     position: relative;

     .ds44-moveLabel {
         color: $ds44-color-inverse;
     }
}

.ds44-fieldContainer {
     margin-right: $ds44-margin-base;
     position: relative;

     &:last-child {
         margin-right: 0;
     }
}

.ds44-listSelect { // faux champ de formulaire, conteneur pour les listes de sélection
    background-color: $ds44-light-color;
}

.ds44-labelLarge {
     font-size: 1.6rem;
}

 
 /**
  * Error messages
  */

.ds44-error {
    border-color: $ds44-error-red;
}

.ds44-errorMsg-container {
    @include ds44-font-sizes(errMsg);
    background-color: $ds44-error-red-bg;
    padding: $ds44-padding-small $ds44-padding-box;

    .icon {
        color: $ds44-error-red;
    }
}


 
/* ----------------------------- */
/* ------- MEDIA QUERIES ------- */
/* ----------------------------- */
 

/* medium screens */
/* ------------- */

@media (max-width: $ds44-large - .0625) {


}

/* small screens */
/* ------------- */

@media (max-width: $ds44-medium - .0625) {


}

@media (max-width: $ds44-small - .0625) {

    .ds44-fieldContainer {
        margin-right: 0;
        margin-bottom: $ds44-medium-vmargin;

        &:last-child {
            margin-bottom: 0;
        }

        &.ds44-small-fg1 > .ds44-btnStd {
            width: 100%;
            text-align: left;

            .icon {
                float: right;
            }
        }
    }
  
}