/*
* CD44 Design System - Forms
*/

/**
* Input placeholder text base styles
*/
::-webkit-input-placeholder {
    color: $ds44-dark;
    font-family: $ds44-font-family-base;
    @include ds44-font-sizes(button);
}

::-moz-placeholder { /* Firefox 19+ */
    color: $ds44-dark;
    font-family: $ds44-font-family-base;
    @include ds44-font-sizes(button);
}

:-ms-input-placeholder {
    color: $ds44-dark;
    font-family: $ds44-font-family-base;
    @include ds44-font-sizes(button);
}

/**
 * Input basics
 */

input {
    font-family: $ds44-font-family-base;
}

.ds44-form__container {
    position: relative;
    margin: $ds44-large-vmargin 0;

    &.ds44-checkBox-radio_list {
        margin: $ds44-large-vmargin/2 0;
    }
}

.ds44-form__container--external {
    margin: 0 0 $ds44-large-vmargin 0;
}

.ds44-formLabel {
    @include ds44-font-sizes(button);
    color: $ds44-graytext-color;
    display: block;
    position: relative;
    font-weight: normal;
    margin-bottom: 0;
    text-align: left;

    .ds44-labelTypePlaceholder,
    .ds44-labelTypePlaceholderLarge {
        position: absolute;
        top: 1.2rem;
        left: $ds44-padding-box;
        transition: all $ds44-timing-standard ease-in-out;
        color: $ds44-gray;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
        white-space: nowrap;
        cursor: text;

        &.ds44-moveLabel {
            font-size: 1.3rem; // 13px instead of 14px
            top: -$ds44-padding-medium*2;
            left: 0;
            color: $ds44-dark;
        }

        .ds44-bgDark &.ds44-moveLabel {
            color: $ds44-light-color;
        }
    }

    .ds44-labelTypePlaceholderLarge {
        top: $ds44-padding-large;
        font-size: 1.6rem;
    }

    .ds44-labelTypeInfoComp {
        position: absolute;
        top: -$ds44-large-vmargin;
        right: $ds44-padding-box;
        color: $ds44-gray;
    }
}

.ds44-formLabel--external {
    @include ds44-font-sizes(button);
    color: $ds44-color-dark-text;
    margin: $ds44-small-vmargin 0;
    display: block;

    .ds44-labelTypeInfoComp {
        position: absolute;
        top: 0;
        right: $ds44-padding-box;
        color: $ds44-gray;
    }

}

.ds44-form__container--external {
    .ds44-formLabel--external {
        margin-top: .5rem;
    }
}

textarea {
    font-family: $ds44-font-family-base;
    min-height: 120px !important;
    height: auto !important;
}

.ds44-inpStd {
    color: $ds44-color-dark-text;
    @include ds44-font-sizes(input);
    font-family: $ds44-font-family-base;
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-medium 4rem $ds44-padding-medium $ds44-padding-box;
    border: 1px solid $ds44-gray;
    min-width: 100%;
    vertical-align: middle;
    height: $ds44-normalHeight;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:disabled {
        background-color: $ds44-light-bg;
    }

    .ds44-selectLabel {
        font-size: 0.875em;
    }
}

.ds44-inpLarge {
    color: $ds44-color-dark-text;
    @include ds44-font-sizes(input);
    font-family: $ds44-font-family-base;
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-large 4rem $ds44-padding-large $ds44-padding-large;
    border: 1px solid $ds44-gray;
    min-width: 100%;
    vertical-align: middle;
    height: $ds44-largeHeight;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:disabled {
        background-color: $ds44-light-bg;
    }
}

.ds44-bgDark .ds44-moveLabel {
    color: $ds44-color-inverse;
}

.ds44-format {
    color: $ds44-color-soft-text;
}

/* Datepicker */

.ds44-datepicker {
    position: relative;
}

/* Bouton de reset de champ */

.ds44-reset,
.ds44-calendar {
    position: absolute;
    right: 0;
    top: calc(50% - 13px);
    padding-right: 1.5rem;
    color: $ds44-color-dark-text;

    .ds44-formLabel--external & {
        top: calc(50% + -1px);
    }
}

.ds44-reset {
    display: none;

    .ds44-datepicker & {
        right: 34px;
    }
}

/**
 * Checkboxes & radiobuttons
 */

.ds44-boxLabel { // label for checkboxes and radiobuttons
    @include ds44-font-sizes(smallText); // 14px
    margin-right: 2rem;
    padding-left: 3rem;
    display: inline-block;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: .4rem;
        left: 0;
        border: 1px solid $ds44-dark;
        border-radius: 2px;
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        transition: background-size $ds44-timing-faster ease-out;
        background-position: center;
        background-size: 0rem;
        cursor: pointer;
    }
}

input[type=checkbox],
.ds44-checkbox {
    position: absolute;
    left: -9999px;

    &:focus + .ds44-boxLabel::before {
        outline: 1px dotted $ds44-dark;
    }

    &.ds44-chkInder + .ds44-boxLabel::before {
        background: url(../../../assets/images/tiret.png) no-repeat center;
        background-size: 1rem;
    }

    &:checked + .ds44-boxLabel::before {
        background: #FFF url(../../../assets/images/cd44-check-black.png) no-repeat center;
        background-size: 1rem;
    }

    &.ds44-boxError + .ds44-boxLabel::before {
        border-color: $ds44-error;
    }
}

.ds44-radioLabel { // label for checkboxes and radiobuttons
    @include ds44-font-sizes(smallText); // 14px
    margin-right: 2rem;
    padding-left: 3rem;
    display: inline-block;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: .3rem;
        left: 0;
        border: 1px solid $ds44-dark;
        border-radius: 20px;
        height: 1.6rem;
        width: 1.6rem;
        background-color: $ds44-light-color;
        transition: all $ds44-timing-faster ease-out;
        cursor: pointer;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: .7rem;
        left: .4rem;
        border-radius: 20px;
        height: .8rem;
        width: .8rem;
        background-color: $ds44-dark;
        transition: opacity $ds44-timing-faster ease-out;
        cursor: pointer;
        opacity: 0;
    }
}

input[type=radio],
.ds44-radio {
    position: absolute;
    left: -9999px;

    &:focus + .ds44-radioLabel::before {
        outline: 1px dotted $ds44-dark;
    }

    &:checked + .ds44-radioLabel::after {
        opacity: 1;
    }

    &.ds44-boxError + .ds44-radioLabel::before {
        border-color: $ds44-error;
        background-color: $ds44-light-color;
    }
}


/**
 * Moteurs de recherche à facettes
 */

.ds44-facetteContainer {
    padding: $ds44-padding-large;
    position: relative;
}

.ds44-fieldContainer {
    margin-right: $ds44-margin-base;
    position: relative;

    &:last-child {
        margin-right: 0;
        flex-shrink: 0.1;
    }

    &:last-child > .ds44-btnStd {
        white-space: nowrap;
    }

    .ds44-form__container {
        margin: 0;
    }

    &--select {
        flex-basis: 20%;
    }
}

.ds44-facetteContainer {
    &.ds44-theme {
        .ds44-fieldContainer {

            .ds44-select__shape {
                background: $ds44-contextual-color;
                border-color: $ds44-dark;

                .ds44-selectLabel {
                    color: $ds44-dark;
                    width: auto;
                }
            }

            &--select {
                flex: none;

                .ds44-select-container {
                    width: 200%;
                    max-width: 100vw;
                }
            }
        }

        .ds44-heading {
            margin: 0.5em 1em;
        }

        .ds44-push {
            margin-left: auto;

            li {
                display: inline-block;
                margin: 0.6em $ds44-padding-medium;

                a {
                    text-decoration: none;
                    width: auto;
                    font-weight: bold;
                    @include ds44-font-sizes(smallText); // 14px
                }
            }
        }
    }
}

.ds44-labelStd {
    font-size: 1.4rem;
}

.ds44-labelLarge {
    font-size: 1.6rem;
    line-height: 1rem;
}


/**
 * SELECTS
 */

.ds44-listSelect { // faux champ de formulaire, conteneur pour les listes de sélection
    background-color: $ds44-light-color;
    padding: $ds44-padding-large;
    padding-bottom: 0;
}

.ds44-select__shape {
    cursor: pointer;
    background-color: $ds44-light-color;

    &.ds44-boxError {
        border-color: $ds44-error;
    }

    &.ds44-error {
        .ds44-btnIco .icon {
            color: $ds44-error;
        }
    }
}

.ds44-selectValue {
    @include ds44-font-sizes(largeButton);
    position: absolute;
}

.ds44-selectLabel {
    cursor: pointer;
    @include ds44-font-sizes(largeButton);
    color: $ds44-color-soft-text;
    font-weight: normal;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    white-space: nowrap;

    .ds44-inputDisabled & {
        cursor: default;

        * {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none;
        }
    }
}

.ds44-moveSelectLabel {
    font-size: 1.3rem; // 13px
    position: absolute;
    top: -$ds44-padding-medium*2;
    left: 0;
    color: $ds44-dark;

    .ds44-bgDark & {
        color: $ds44-color-inverse;
    }
}

.ds44-select-container {
    position: absolute;
    width: 100%;
    box-shadow: $ds44-boxShadow;
    background-color: $ds44-light-color;
    z-index: 10;
}

.ds44-select-list_elem {
    margin-bottom: $ds44-large-vmargin/2;

    &:focus,
    &:hover,
    &:active {
        cursor: pointer;
    }

    label {
        @include ds44-font-sizes(bodySize);
        display: block;
        color: $ds44-color-dark-text;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .ds44-form__container {
        margin: 0;
    }
}

.ds44-utile-list_elem {
    margin-bottom: $ds44-large-vmargin/2;

    label {
        display: block;
        color: $ds44-color-dark-text;
        @include ds44-font-sizes(bodySize);

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .ds44-form__container {
        margin: 0;
    }
}


/* multilevel selects */

.ds44-select__categ {

    position: relative;
    padding: 0 $ds44-padding-large;

    label {
        @include ds44-font-sizes(formListElem);
        color: $ds44-color-dark-text;
        min-width: calc(100% - 4.5rem);
        cursor: pointer;
    }

    .ds44-form__container {
        margin-bottom: 0;
        margin-top: 0;
    }
}

/* surcharge du collapser */

.ds44-collapser--select {
    position: relative;
    margin-bottom: $ds44-large-vmargin;

    .ds44-select-list_elem {

        label {
            @include ds44-font-sizes(largeButton);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ds44-collapser_content--level2 {
        padding-left: $ds44-container-vmargin !important;
    }
}

/* surcharge du bouton du collapser */
.ds44-collapser_button--select {
    position: absolute;
    right: $ds44-padding-medium;
    top: -5px;
    width: 2rem;

    .ds44-noLineH::before {
        line-height: 0 !important;
    }
}

/**
 * Autocompletion fields
 */

.ds44-autocomp-container {
    padding: $ds44-padding-medium;
    box-shadow: $ds44-boxShadow;
    background-color: $ds44-light-color;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: $ds44-color-dark-text;
}

.ds44-autocomp-list {
    padding: $ds44-padding-medium $ds44-padding-large;
}

.ds44-autocomp-list_elem,
.ds44-autocomp-list_no_elem {
    @include ds44-font-sizes(formListElem);
    margin-bottom: $ds44-large-vmargin;

    &:focus,
    &:hover,
    &:active {
        text-decoration: underline;
        cursor: pointer;
    }

    label {
        display: block;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.ds44-autocomp-list_no_elem {
    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
        cursor: default;
    }

    label {
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            cursor: default;
        }
    }
}

// ellipsis
.ds44-selectDisplay {
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
    display: block;
    white-space: nowrap;
    color: $ds44-color-dark-text;
}


/**
* Error messages
*/


.ds44-error {
    border-color: $ds44-error;
}

.ds44-errorMsg-container {
    @include ds44-font-sizes(errMsg);
    background-color: $ds44-error-bg;
    padding: $ds44-padding-small $ds44-padding-box;

    .ds44-msgErrorText {
        margin: $ds44-paragraph-margin-bottom 0;
        color: $ds44-color-dark-text;
    }

    .icon {
        color: $ds44-error;
    }

    .ds44-iconInnerText {
        vertical-align: middle;
    }
}

/**
* Valid messages
*/


.ds44-valid {
    border-color: $ds44-valid;
}

.ds44-message-container {
    @include ds44-font-sizes(errMsg);

    .ds44-message-text {
        margin: $ds44-paragraph-margin-bottom 0;
        color: $ds44-color-dark-text;
        padding: $ds44-padding-box;

        &.success {
            background-color: $ds44-valid-bg;

            .icon {
                color: $ds44-valid;
            }
        }

        &.error {
            background-color: $ds44-error-bg;

            .icon {
                color: $ds44-error;
            }
        }
    }

    .ds44-iconInnerText {
        vertical-align: middle;
    }
}

/**
 * Date picker
 */
.ds44-datepicker__shape {
    cursor: pointer;
    background-color: $ds44-light-color;

    input {
        border: none;
        outline: none;
        text-align: center;
        width: 3rem;
        background-color: transparent;

        &:last-of-type {
            width: 5rem;
        }
    }

    span {
        display: none;
    }

    &.show {
        span {
            display: inline;
        }
    }
}


/**
 * Champs liés : Thèmes sous-thèmes, Lieu rayon, etc...
 */

.ds44-champsLies {

    > .ds44-form__container {
        display: inline-block;
        vertical-align: top;
    }

    > .ds44-form__container:first-of-type {

        width: 59.5%;

        input,
        .ds44-select__shape,
        .ds44-datepicker__shape {
            border-radius: 3px 0 0 3px;
        }
    }

    > .ds44-form__container:last-of-type {

        width: 40%;
        margin-left: -4px;

        input,
        .ds44-select__shape,
        .ds44-datepicker__shape {
            border-radius: 0 3px 3px 0;
            margin-left: -1px;
        }
    }

    .ds44-inputDisabled {
        background: $ds44-lightgray;
        cursor: default;

        * {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none;
        }
    }
}


.ds44-inpStd {
    & .ds44-btnIco {
        padding: 0.5rem 1.5rem;
    }
}


/* ----------------------------- */
/* ------- MEDIA QUERIES ------- */
/* ----------------------------- */


/* medium screens */
/* ------------- */

@media (max-width: $ds44-large - .0625) {


}

/* small screens */
/* ------------- */

@media (max-width: $ds44-medium - .0625) {

    .ds44-medium-flex-col {

        .ds44-fieldContainer { // les champs de formulaire prennent une marge pour permettre aux labels d'être visibles
            margin-right: 0;
            margin-bottom: 2.5rem;

            &:last-child {
                margin-bottom: .5rem;
            }

            &:first-child {
                margin-top: .5rem;
            }

        }

        .ds44-btnStd {
            width: 100%;
            text-align: left;
        }

        .ds44-btnStd .icon {
            float: right;
        }

    }

    .ds44-facetteContainer {

        &.ds44-theme {

            .ds44-heading {
                margin: 0 0 1em 0;
            }

            .ds44-push {
                margin: 0;
            }
        }
    }

}

@media (max-width: $ds44-small - .0625) {

    .ds44-facetteContainer {
        padding: 2.5rem; // on augmente les marges en mobile pour décoller les labels

        &.ds44-theme {

            .ds44-fieldContainer {

                &--select {
                    flex: none;

                    .ds44-select-container {
                        width: 100%;
                    }
                }
            }
        }
    }

    .ds44-fieldContainer {
        margin-right: 0;
        margin-bottom: 2.5rem; // marge identique au padding du ds44-facetteContainer

        &:last-child {
            margin-bottom: 0;
        }

        &.ds44-small-fg1 > .ds44-btnStd {
            width: 100%;
            text-align: left;

            .icon {
                float: right;
            }
        }
    }

    .ds44-champsLies {

        > .ds44-form__container {
            display: block;
        }

        > .ds44-form__container:first-of-type {
            width: 100%;
            margin: 0;

            input,
            .ds44-select__shape,
            .ds44-datepicker__shape {
                border-radius: 3px 3px 0 0;
            }
        }

        > .ds44-form__container:last-of-type {
            width: 100%;
            margin: 0;

            input,
            .ds44-select__shape,
            .ds44-datepicker__shape {
                border-radius: 0 0 3px 3px;
                margin: -1px 0 0 0;
            }
        }
    }


}
