/*
* CD44 Design System - Forms
*/

 /**
  * Input placeholder text base styles
  */
  ::-webkit-input-placeholder {
    color: $ds44-color-soft-text;
    font-family: $ds44-font-family-base;
 } 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: $ds44-color-soft-text;
    font-family: $ds44-font-family-base;
 } 
 :-ms-input-placeholder {
    color: $ds44-color-soft-text;
    font-family: $ds44-font-family-base;
 }
 
 /**
  * Input basics
  */

.ds44-form__container {
    position: relative;
    margin: $ds44-padding-medium 0;
}

.ds44-form__label {
    @include ds44-font-sizes(smallText);
    position: absolute;
    z-index: 10;
    color: $ds44-graytext-color;
    transition: all $ds44-timing-standard ease-in-out;
}

.ds44-form__label--external {
    font-size: .9375em; // 15px
    color: $ds44-color-dark-text;
    margin: $ds44-small-vmargin 0;
    display: block;
}

.ds44-form__inpStd {
    @include ds44-font-sizes(smallText);
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-medium $ds44-padding-box;
    border: 1px solid $ds44-gray;
    min-width: 100%;
    vertical-align: middle;
    min-height: $ds44-normalHeight;

    & + .ds44-form__label {
        top: $ds44-padding-medium;
        left: $ds44-padding-box;
    }

    &:focus + .ds44-form__label,
    &:valid + .ds44-form__label {
        font-size: .8125em; // 13px instead of 14px
        top: -$ds44-padding-medium*2;
        left: 0;
    }

    &:disabled {
        background-color: $ds44-light-bg;
    }
}

.ds44-form__inpLarge {
    @include ds44-font-sizes(bodySize);
    border-radius: $ds44-border-radius;
    padding: $ds44-padding-large;
    border: 1px solid $ds44-gray;
    min-width: 100%;
    vertical-align: middle;
    min-height: $ds44-largeHeight;

    & + .ds44-form__label {
        top: $ds44-padding-large;
        left: $ds44-padding-large;
    }

    &:focus + .ds44-form__label,
    &:valid + .ds44-form__label {
        font-size: .8125em; // 13px instead of 14px
        top: -$ds44-padding-large;
        left: 0;
    }

    &:disabled {
        background-color: $ds44-light-bg;
    }
}

.ds44-bgDark :focus + .ds44-form__label {
    color: $ds44-color-inverse!important;
}