/*
* CD44 Design System - Headers
*/

.ds44-logoContainer {
    text-decoration: none;

    img {
        height: 62px;
    }
}

.ds44-logo {
    display: block;
}

.ds44-titreLogo {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: bold;
    margin-left: 2rem;
}

/* Skip links */


.ds44-skiplinks {
    display: inline;
}

.ds44-skiplinks--link {
    position: absolute;
    top: -50rem;
    display: block;
    border: 2px solid $ds44-contextual-color;
    border-top: none;
    border-radius: 0 0 $ds44-border-radius;
    padding: $ds44-padding-medium $ds44-padding-box;
    transition: box-shadow $ds44-timing-standard ease;
    background: #fff;
    z-index: 10;

    &:focus {
        top: 0;
        box-shadow: $ds44-boxShadow;
    }
}

.ds44-header {
    min-height: $header-height-large;
    max-height: $header-height-medium;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 900;
    width: 100%;
    background-color: $ds44-light;
    visibility: visible;
    opacity: 1;
    transition: visibility $ds44-timing-standard ease, opacity $ds44-timing-standard ease, margin-top $ds44-timing-standard ease;

    &.hidden {
        margin-top: -100px;
        opacity: 0;
        visibility: hidden;
        transition: visibility $ds44-timing-standard ease, opacity $ds44-timing-standard ease, margin-top $ds44-timing-standard ease;
    }

    .ds44-blocBandeau {
        margin-left: 5.5%; /* Aligner sur le body */
    }

    .ds44-colRight {
      min-height: $header-height-large;
    }
}

/* Bandeau */

.ds44-headerImg {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/* MDPH Site Handicap header */
.mdph-logo {
  &--tablet {
    display: none;
  }
}



/* --------------- */
/* Medium screens */
/* ------------ */

@media (max-width: $ds44-large - .0625) {

    .ds44-headerImg {
        min-height: 260px;
    }

    .ds44-logoContainer {
        flex-wrap: wrap;
    }

    .ds44-header .ds44-colRight .ds44-btnIcoText--maxi .icon::before {
        min-height: 30px;
        font-size: 5rem;
    }

    // when reduced, header column right and buttons gain flex display
    .ds44-header {
        min-height: $header-height-medium;
        padding: 0;
        left: 0;
    }

    .ds44-header .ds44-colRight {
        display: flex;
        justify-content: flex-end;
        min-height: $header-height-medium;

        .ds44-btnIcoText--maxi {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            position: relative;
            margin: 0 0 0 1rem;
            min-width: 0;
            align-items: center;
            line-height: 1.2;
            padding: $ds44-padding-xlarge  $ds44-padding-large;

            .icon + .ds44-btnInnerText,
            .ds44-btnInnerText + .icon {
                margin-left: 0;
            }

            .ds44-btnInnerText {
                position: relative;
                white-space: nowrap;
            }

        }

    }
}

@media (max-width: $ds44-medium - .0625) {


    .ds44-logoContainer {
        flex-wrap: wrap;
    }

    .ds44-headerImg {
        min-height: 245px;
    }

    .ds44-rsHeadLink {
        padding-left: 0;
    }

    .ds44-header .ds44-blocBandeau {
        margin: 0 1rem;
    }

    /* MDPH Site Handicap header */
    .mdph-logo {
      display: none;

      &--tablet {
        display: block;
      }
    }


}

/* -------------- */
/* small screens */
/* ------------ */

@media (max-width: $ds44-small - .0625) {


  .ds44-logoContainer {
      flex-direction: column;
      flex-wrap: nowrap;


      img {
          height: 35px;
          max-width: none;
      }

      .ds44-titreLogo {
          margin-left: 0;
          margin-top: .5rem;
          text-align: center;
          font-size: .5625em;
      }

  }

  .ds44-overlay--navFromBottom.ds44-wave-grey {
      background: #fff;
  }

  .ds44-header .ds44-colRight {

    min-height: $header-height-small;

      .ds44-btnIcoText--maxi {
          margin-left: 0;

          &.ds44--xl-padding {
              padding: .5rem 1rem 1rem 1rem;
          }

          &.ds44-btn--menu {
              padding: .6rem 1.5rem 1rem 1.5rem;
          }
      }
  }

  .ds44-header {
      min-height: $header-height-small;
  }

}

@media (max-width: $ds44-tiny - .0625) {

  .ds44-logoContainer {

      img {
          width: 100%;
      }
    }

}
