/*
* CD44 Design System - Headers
*/

.ds44-logo {
    max-width: 122px;
    display: block;
}

/* Skip links */

.ds44-skiplinks--link {
    position: absolute;
    top: -5rem;
    display: block;
    border: 2px solid $ds44-contextual-color;
    padding: $ds44-padding-medium $ds44-padding-box;
    transition: box-shadow $ds44-timing-standard ease;

    &:focus {
        top: 0;
        box-shadow: $ds44-boxShadow;
    }
}


/* tiny screens */
/* ------------ */

@media (max-width: $small - 1) {

    .ds44-logo {
        max-width: 80px;
    }

    .ds44-headerImg {
        object-fit: cover;
        min-height: 260px;
    }


}