// Images global styles

// DS 44 icons style
.i-name {
    padding-left: 10px;
}

/* Ratio img générique tuile 3/2 */
.ds44-container-imgRatio {
    width: 100%;
    height: 0;
    display: block;
    padding-top: 66.6667%;
    position: relative;
}

.ds44-container-imgZoom {
    overflow: hidden;

    img {
        transition: all $ds44-timing-standard ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.ds44-imgRatio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
}

/* Ratio img tuile 1/1 */
.ds44-container-imgRatio--carre {
    padding-top: 100%;
}

/* Ratio img tuile 3/1 */
.ds44-container-imgRatio--tuileMiseEnAvant {
    padding-top: 33.3333%;

    p {
        font-size: 0.875em;
    }
}

/* legend block positionnement */
.ds44-legendeContainer .ds44-blockAbsolute {
    position: absolute;
    z-index: 1;
    width: 27.5vw;
}

.ds44-legendeContainer .ds44-blockAbsolute--br {
    bottom: 0;
    right: 0;
}

.ds44-legendeContainer .ds44-blockAbsolute--bl {
    bottom: 0;
    left: 0;
}

.ds44-legendeContainer .ds44-blockAbsolute--tl {
    top: 0;
    left: 0;
}

.ds44-legendeContainer .ds44-blockAbsolute--tr {
    top: 0;
    right: 0;
}

/* Ratio img profil */
.ds44-container-imgRatio--profil {
    padding-top: 0;
    width: 110px;
    height: 110px;
}

.ds44-container-imgRatio--profilXL {
    padding-top: 0;
    width: 160px;
    height: 160px;
}

.ds44-imgRatio--profil {
    border-radius: 50%;
}

/* Ratio img A4 99:70 */
.ds44-container-imgRatio--A4 {
    padding-top: 141.43%;
}


/* légende d'image */
figure {
    margin: 0;
}

.ds44-legendeContainer {
    position: relative;
}

.ds44-imgCaption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $ds44-color-dark-text;
    color: $ds44-color-inverse;
    padding: 0 .5rem;
    z-index: 15;
}

/* loader */
.ds44-loader {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    .ds44-loader-body {
        position: absolute;
        width: $ds44-loader-size;
        height: $ds44-loader-size;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .ds44-loader-circular {
            animation: rotate 2s linear infinite;
            height: $ds44-loader-size;
            position: relative;
            width: $ds44-loader-size;

            .ds44-loader-path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                stroke: $ds44-dark;
                animation: dash 1.5s ease-in-out infinite;
                stroke-linecap: round;
            }
        }
    }

}


/* Mosaiques */
.ds44-mosaique {
    margin: 0;
    padding: 0;

    & + .ds44-mosaique {
        margin-top: $ds44-medium-vmargin;
    }

    li {
        cursor: pointer;
    }

    li.row-2 + li {
        margin-bottom: $ds44-medium-vmargin;
    }

    .ds44-legendeContainer.ds44-container-imgRatio {
        height: 100%;
    }
}

.ds44-gutter {
    grid-column-gap: $ds44-medium-vmargin;
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

/* =======
  MEDIA QUERIES
  === */

@media (max-width: $ds44-large - .625) {

    .ds44-legendeContainer .ds44-blockAbsolute {
        width: 100%;
        position: relative;
    }
    .ds44-legendeContainer.ds44-container-imgRatio,
    .ds44-legendeContainer.ds44-container-imgRatio .ds44-imgRatio {
        position: relative;
        padding-top: 0%;
    }
    .ds44-legendeContainer.ds44-container-imgRatio {
        height: auto;
    }
    .ds44-container-imgRatio--tuileMiseEnAvant .ds44-legendeContainer.ds44-container-imgRatio .ds44-imgRatio {
        height: 400px;
    }

}

@media (min-width: $ds44-large - .625) {

    .grid-12-small-1 .ds44-container-imgRatio--tuileMiseEnAvant {
        padding-top: 85%;
    }


}

@media (min-width: $ds44-medium) {

    .grid-12-small-1 .col-6 {
        margin-right: $ds44-medium-vmargin/2;
    }
    .grid-12-small-1 .col-6:last-of-type {
        margin-right: 0;
        margin-left: $ds44-medium-vmargin/2;
        margin-top: 0;
    }

}


@media (max-width: $ds44-small - .625) {


    .ds44-mosaique {
        .ds44-legendeContainer.ds44-container-imgRatio .ds44-imgRatio,
        .ds44-legendeContainer.ds44-container-imgRatio {
            height: 100%;
        }
    }

    .ds44-legendeContainer .ds44-blockAbsolute {
        position: relative;
        z-index: 1;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .ds44-container-imgRatio--tuileMiseEnAvant .ds44-legendeContainer.ds44-container-imgRatio .ds44-imgRatio {
        height: 300px;
    }

    .ds44-imgCaption {
        display: none;
    }

}

@media (min-width: $ds44-small) {
    .ds44-container-imgRatio--tuileMiseEnAvant .ds44-card__title {
        font-size: 2.4rem; // 24px
    }
    .col .ds44-container-imgRatio--tuileMiseEnAvant .ds44-card__title {
        font-size: 1.7rem; // 17px
    }
}

@media (max-width: $ds44-tiny) {

    /* Mosaiques */
    .ds44-gutter {

        li {
            margin-bottom: $ds44-medium-vmargin;
        }
    }

}


/* Media Queries Print / Impression */
@media print {

    .ds44-container-imgRatio {
        width: auto !important;
        height: auto !important;
        padding-top: 0 !important;
    }
    img,
    iframe {
        max-width: 300px !important;
        width: auto !important;
	    max-height: 200px !important;
	    height: 100% !important;
        overflow: hidden;
        position: relative !important;
    }

    .ds44-pictoStore {
        height: 32px !important;
        width: auto !important;
    }

    .ds44-logoContainer img {
        height: 62px !important;
        margin-bottom: 3rem !important;
    }

    .ds44-card__section--horizontal--img,
    .swiper-slide img,
    .swiper-slide picture ,
    .swiper-slide figure,
    .ds44-container-imgRatio ,
    .ds44-hiddenPrint,
    .ds44-box__img,
    .ds44-mediaIndicator {
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }


}
