// DS44 lists

.ds44-list {
    padding: 0;
    list-style: none;

    ul, ul > li {
        list-style: none;
    }

    /* Liste à puces avec ancres (page dossier actualités) */
    &--puces {

        > li {
            list-style: none;
            margin-top: $ds44-padding-box;
            position: relative;
            padding-left: $ds44-padding-large;

            > a {
                text-decoration: none;
                transition: all $ds44-timing-standard $ds44-transition-std;

                &:hover {
                    text-decoration: underline;
                }

                &:before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    border: 1px solid $ds44-color-base;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 7px;
                }
            }

            > a.active {
                &:hover {
                    text-decoration: none;
                }

                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: $ds44-color-base;
                    top: 7px;
                }
            }
        }
    }

    /* Liste pour chapitrage vidéo */
    &--video {
        margin-left: $ds44-padding-medium;
        margin-bottom: $ds44-padding-large;

        > li {
            list-style: none;
            position: relative;
            padding-left: $ds44-padding-xlarge;

            + li {
                margin-top: $ds44-padding-large;
            }

            > a {
                &:before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-image: url(../../../assets/images/cd44-play-black.svg);
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 2px;
                }
            }
        }
    }

    /* Liste pour table alphabétique */
    &--table {

        > li {
            padding: 3px;
            width: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;

            > a {
              text-decoration: none;
              border-radius: 3px;
              display: grid;
              height: 100%;
              width: 100%;
              align-items: center;
              transition: all $ds44-timing-standard ease;

              &.active {
                background: $ds44-contextual-hover;
              }
              &:hover,
              &:active,
              &:focus {
                background: $ds44-background-dark;
                color: $ds44-color-inverse;
              }
            }
        }
    }
}

.ds44-footerList {
    flex-wrap: wrap;
    justify-content: center;
}

.ds44-docListElem {
    position: relative;
    padding-left: $ds44-padding-ico;
    line-height: 1.4;

    .ds44-cardFile {
        display: block;
        padding-left: $ds44-padding-ico;
    }

    i ~ a {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 25px); // retrait du lien pour caler l'icone à gauche
        width: -webkit-calc(100% - 25px); // retrait du lien pour caler l'icone à gauche
    }

    &:first-child:after {
      padding-bottom: 0;
    }
}

.ds44-uList {
    > li {
        margin-top: .5rem !important;
    }
}

.ds44-errorList {
        padding-left: 1.5rem !important;
    > li {
        margin-top: .2rem !important;
        list-style-image: none !important;
        padding-left: 20px;
        background: url(../../../assets/images/right.svg) no-repeat left -9px;
        background-size: 20px;
        font-size: 1.6rem;
    }
}

/* small screens */
/* ------------- */

@media (max-width: $ds44-small) {

    .ds44-footerList {
        display: block;
        column-count: 2;
        text-align: left;
    }

}
