// DS44 lists

.ds44-list {
    padding: 0;
    list-style: none;

    ul, ul > li {
        list-style: none;
    }
}

.ds44-footerList {
    flex-wrap: wrap;
    justify-content: center;
}

.ds44-docListElem {
    position: relative;
    padding-left: $ds44-padding-ico;
    line-height: 1.4;

    .ds44-cardFile {
        display: block;
        padding-left: $ds44-padding-ico;
    }

    i ~ a {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 25px); // retrait du lien pour caler l'icone à gauche
        width: -webkit-calc(100% - 25px); // retrait du lien pour caler l'icone à gauche
    }

    &:first-child:after {
      padding-bottom: 0;
    }
}

.ds44-uList {
    > li {
        margin-top: .5rem!important;
    }
}

/* small screens */
/* ------------- */

@media (max-width: $ds44-small) {

    .ds44-footerList {
        display: block;
        column-count: 2;
        text-align: left;
    }

}
