// DS44 lists

.ds44-list {
    padding: 0;
    list-style: none;
}

.ds44-footerList {
    flex-wrap: wrap;
    justify-content: center;
}

.ds44-docListElem {
    position: relative;
    padding-left: $ds44-padding-ico;
    line-height: 1.4;

    &.ds44-cardFile {        
        padding-top: $spacer-tiny;
    }
}

/* small screens */
/* ------------- */

@media (max-width: $ds44-small) {
    
    .ds44-footerList {
        display: block;
        column-count: 2;
        text-align: left;
    }

}
