/* ----------------------------- */
/* ==Navigation full page        */
/* ----------------------------- */

.ds44-menuBox, .ds44-searchBox {
    text-align: left;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: inline;
}

.ds44-navContainer {
    min-height: 100%;

    > .ds44-inner-container {
        overflow-y: auto;
        max-height: 80vh;
    }

}

.ds44-navListN2 {
    list-style: none;
    margin-top: $spacer-extra-large-plus;
    margin-bottom: $ds44-components-vmargin;
    column-rule: 2px solid #000000;
}

.ds44-menuBtn {    
    @include ds44-font-sizes(menuHeaders);
    font-family: $ds44-font-family-headings;
    font-weight: bold;
    margin-top: $ds44-components-vmargin;
    position: relative;
    padding-right: 6rem;
    padding-left: 0;
    width: 100%;
    text-align: left;

    .icon {
        position: absolute;
        right: 1.5rem;
        top: -.5rem;
        transition: right ease-in-out $ds44-timing-standard;
        will-change: right;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        right: 0;
    }
}

.ds44-menuLink {
    @include ds44-font-sizes(menuLinks);
    text-decoration: none;
    margin-bottom: $ds44-components-vmargin;
    display: block;
}

.ds44-rsHeadLink {
    display: block;
    padding-left: $ds44-padding-box; // 1.5rem;
    padding-right: $ds44-padding-box; // 1.5rem;
    font-size: 1.4em;
}

.ds44-container-menuBackLink {
    margin: 3rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.ds44-menuBackLink {
    font: bold 1.75em/1 $ds44-font-family-headings; // 28px
    display: inline-block;
}

.ds44-menuLink, .ds44-menuLink--subLvl {
    position: relative;
    padding-right: 4rem;

    .icon {
        position: absolute;
        right: 1rem;
        top: 0;
        opacity: 0;
        transition: all ease-in-out $ds44-timing-standard;
        will-change: right, opacity;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        right: 0;
        opacity: 1;
    }
}

.ds44-navListApplis {
    margin-top: $ds44-container-vmargin;

    li {
        padding-left: $ds44-padding-box;
    }
}

.ds44-menuApplisTitle {
    @include ds44-font-sizes(h4);
    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
      font-family: $ds44-font-family-headings;
    }
    background: transparent;
    font-weight: bold;

    &::after {
        padding-bottom: 3rem!important;
    }
}



// -------------
//   TABLETTE
// ----------

@media (min-width: $ds44-medium) and (max-width: $ds44-extra-large)  {

    .ds44-navListN2 {
        margin: $ds44-container-vmargin $ds44-container-vmargin $ds44-components-vmargin $ds44-container-vmargin;
    }

}

// ----------
//   MOBILE
// ----------

@media (max-width: $ds44-medium) {
  
    .ds44-navList {
        margin-left: $ds44-margin-base;
        margin-right: $ds44-margin-base;
        margin-top: $ds44-margin-base;
    }

    .ds44-navListN2 {
        margin-top: 9rem;
    }

    .ds44-rsHeadLink {
        margin: $spacer-small-plus; // 1.5rem;
    }
    
    .ds44-container-menuBackLink {
        margin: 1rem;
    }

    .ds44-menuApplisTitle {    
        &::after {
            padding-bottom: 1rem!important;
        }
    }

    .ds44-menuBackLink {
        margin-top: .5rem;
        padding-right: $ds44-padding-xxlarge;
    }

    .ds44-menuLink {
        margin-bottom: $ds44-medium-vmargin;
    }

}

@media (max-width: $ds44-tiny) {

    .ds44-btn-backOverlay {
        text-align: left;
    }

    .ds44-navListApplis, .ds44-navListApplis > li {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }

}