/* ----------------------------- */
/* ==Navigation full page        */
/* ----------------------------- */

.ds44-menuBox, .ds44-searchBox {
    text-align: left;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: inline;
}

.ds44-navContainer {
    min-height: 100%;

    > .ds44-inner-container {
        overflow-y: auto;
        max-height: 70vh;
    }

}

.ds44-rsHeaderContainer {
    width: 100%;
}

.ds44-navListN2 {
    list-style: none;
    margin-top: 0;
    margin-bottom: $ds44-components-vmargin;
    column-rule: 2px solid #000000;
}

.ds44-menuBtn {    
    @include ds44-font-sizes(menuHeaders);
    font-family: $ds44-font-family-headings;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    position: relative;
    padding-right: 6rem;
    padding-left: 0;
    width: 100%;
    text-align: left;
    text-decoration: none;

    .icon {
        position: absolute;
        right: 1.5rem;
        top: -.5rem;
        transition: right ease-in-out $ds44-timing-standard;
        will-change: right;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        right: 0;
    }
}

.ds44-menuLink {
    @include ds44-font-sizes(menuLinks);
    text-decoration: none;
    margin-bottom: $ds44-large-vmargin; // 20px
    display: block;
}

.ds44-rsHeadLink {
    display: block;
    padding-left: $ds44-padding-box; // 1.5rem;
    padding-right: $ds44-padding-box; // 1.5rem;
    font-size: 1.4em;
}

.ds44-container-menuBackLink {
    margin: 3rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.ds44-menuBackLink {    
    @include ds44-font-sizes(menuBackLinks);
    font-weight: bold;
    font-family: $ds44-font-family-headings;
    display: inline-block;
}

.ds44-menuLink, .ds44-menuLink--subLvl {
    position: relative;
    padding-right: 4rem;

    .icon {
        position: absolute;
        right: 1rem;
        top: 0;
        opacity: 0;
        transition: all ease-in-out $ds44-timing-standard;
        will-change: right, opacity;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        right: 0;
        opacity: 1;
    }
}

.ds44-navListApplis {
    margin-top: $ds44-container-vmargin*2;

    li {
        padding-left: $ds44-padding-box;
    }
}

.ds44-menuApplisTitle {
    @include ds44-font-sizes(h4);
    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
      font-family: $ds44-font-family-headings;
    }
    background: transparent;
    font-weight: bold;

    &::after {
        padding-bottom: 2rem!important;
    }
}

// Separator
.ds44-navSep {
  border: 1px solid $ds44-color-dark-text;
  margin: $ds44-container-vmargin 0;
  width: 100%;
}



// -------------
//   TABLETTE
// ----------

@media (min-width: $ds44-medium) and (max-width: $ds44-extra-large)  {

    .ds44-navListN2 {
        margin: 0 $ds44-container-vmargin $ds44-components-vmargin $ds44-container-vmargin;
    }

}

// ----------
//   MOBILE
// ----------

@media (max-width: $ds44-medium - .0625) {
  
    .ds44-navList {
        margin-left: $ds44-margin-base;
        margin-right: $ds44-margin-base;
        margin-top: 0;
    }

    .ds44-navListN2 {
        margin-top: $ds44-components-vmargin;
    }

    .ds44-rsHeadLink {
        margin: $spacer-small-plus; // 1.5rem;
        padding-left: 0;
    }
    
    .ds44-container-menuBackLink {
        margin: 1rem 1rem 1rem 2rem;
        width: calc(100% - 90px);
    }

    .ds44-menuApplisTitle {    
        &::after {
            padding-bottom: 1rem!important;
        }
    }

    .ds44-menuBackLink {
        margin-top: .8rem;
        width: calc(100% - 65px);
        line-height: 1.1;
    }

    .ds44-menuLink {
        margin-bottom: $ds44-medium-vmargin;
    }
  
    .ds44-navList {
        margin-left: 0;
        margin-right: 0;
    }

    .ds44-navSep {
      margin: $ds44-components-vmargin 0;
    }    

    li:first-child .ds44-menuBtn { 
        margin-top: 0;
    }

    .ds44-btn-backOverlay {
        vertical-align: top;
    }

}

@media (max-width: $ds44-tiny) {

    .ds44-btn-backOverlay {
        text-align: left;
    }

    .ds44-navListApplis {
        margin-left: $ds44-large-margin;

        > li {
            padding-left: 0;
        }
    }

    .ds44-navContainer {
    
        > .ds44-inner-container {
            max-height: 100%;
        }
    
    }

}

@media (min-width: $ds44-large) and (max-width: $ds44-max-size) {

    .ds44-navContainer > .ds44-inner-container {
        max-width: 90%;   
    }

}