/* ----------------------------- */
/* ==Navigation full page        */
/* ----------------------------- */

.ds44-navList {
    list-style: none;
    margin-top: $spacer-large;
}

.ds44-navListN2 {
    list-style: none;
    margin-top: $spacer-extra-large-plus;
    margin-bottom: $ds44-components-vmargin;
    column-rule: 2px solid #000000;
}

.ds44-menuBtn {    
    @include ds44-font-sizes(menuHeaders);
    font-family: $ds44-font-family-headings;
    font-weight: bold;
    margin-top: $ds44-components-vmargin;
    position: relative;
    padding-right: 4rem;
    padding-left: 0;
    width: 100%;
    text-align: left;

    .icon {
        position: absolute;
        right: 1rem;
        top: -.5rem;
        transition: right ease-in-out $ds44-timing-standard;
        will-change: right;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        right: 0;
    }
}

.ds44-menuLink {
    @include ds44-font-sizes(menuLinks);
    text-decoration: none;
    margin-bottom: $ds44-components-vmargin;
    display: block;
}

.ds44-rsHeadLink {
    display: block;
    margin-left: $spacer-medium-plus; // 3rem;
    font-size: 1.4em;
}

.ds44-menuBackLink {
    font: bold 1.75em/1 $ds44-font-family-headings; // 28px
}

.ds44-menuLink, .ds44-menuLink--subLvl {
    position: relative;
    padding-right: 2.5rem;

    .icon {
        position: absolute;
        right: 1rem;
        top: 0;
        opacity: 0;
        transition: all ease-in-out $ds44-timing-standard;
        will-change: right, opacity;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        right: 0;
        opacity: 1;
    }
}