/* ----------------------------- */
/* ==Navigation full page        */
/* ----------------------------- */

.ds44-navList {
    list-style: none;
    margin-top: $ds44-components-vmargin;
}

.ds44-navListN2 {
    list-style: none;
    margin-top: $spacer-extra-large-plus;
    margin-bottom: $ds44-components-vmargin;
    column-rule: 2px solid #000000;
}

// Arrows animation
@keyframes arrow-move {
    0%   { right: 0; }
    50%  { right: 1rem; }
    100% { right: 0; }
}

.ds44-menuBtn {    
    @include ds44-font-sizes(menuHeaders);
    font-family: $ds44-font-family-headings;
    font-weight: bold;
    margin-top: $ds44-components-vmargin;
    position: relative;
    padding-right: 4rem;
    padding-left: 0;
    width: 100%;
    text-align: left;

    &::after {
        font-family: $ds44-font-icon;
        font-weight: normal;
        content: "\E028";
        width: 3.4rem;
        height: 3.4rem;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.2;
        //transition: right $ds44-timing-faster ease-in;
    }

    &:hover::after, &:focus::after, &:active::after {
        //right: .5rem;
        animation-name: arrow-move;
        animation-duration: $ds44-timing-x2;
    }
}

.ds44-menuLink {
    @include ds44-font-sizes(menuLinks);
    text-decoration: none;
    margin-bottom: $ds44-components-vmargin;
    display: block;
}

.ds44-rsHeadLink {
    display: block;
    margin-left: $spacer-medium-plus; // 3rem;
    font-size: 1.4em;
}

.ds44-menuBackLink {
    font: bold 1.75em/1 $ds44-font-family-headings; // 28px
}

.ds44-menuLink, .ds44-menuLink--subLvl {
    position: relative;
    padding-right: 2.5rem;

    &::after {
        content: "\E002";
        font-family: $ds44-font-icon;    
        font-size: 1.2em;    
        display: inline-block;    
        vertical-align: middle;    
        width: 2rem;    
        height: 3rem;
        margin-left: 1.5rem;    
        margin-top: -0.3rem;
        position: absolute;
        top: 0;
        opacity: 0;
        right: 0;
        transition: opacity $ds44-timing-faster ease-in;
    }

    &:hover::after, &:focus::after, &:active::after {
        opacity: 1;
        animation-name: arrow-move;
        animation-duration: $ds44-timing-x2;
    }
}