/*
* CD44 Design System - système d'onglets
*/

.invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ds44-tabs__list {
    margin: 0;
    padding: $ds44-padding-large $ds44-padding-xlarge $ds44-padding-xlarge $ds44-padding-xlarge;
}

.ds44-tabs__item {
    display: inline-block;
    align-self: flex-end;
}

.ds44-tabs__link {
    display: block;
    padding: $ds44-padding-base $ds44-padding-xlarge $ds44-padding-box $ds44-padding-xlarge;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.375em; /* 22px */
    position: relative;
    text-align: center;

    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #FFF;
        bottom: 0;
        left: 0;
    }
}

.ds44-tabs__linkSelected.ds44-tabs__link,
.ds44-tabs__link:hover,
.ds44-tabs__link:focus,
.ds44-tabs__link:active {
    font-weight: bolder;

    &::after {
        height: 5px;
        background-color: #000;
        transition: all $ds44-timing-standard ease-in-out;
    }
}

.ds44-tabs__content {
    opacity: 1;
    transition: all $ds44-timing-standard ease-in-out;
    position: relative;
}

[aria-hidden="true"].ds44-tabs__content {
    display: none;
    opacity: 0;
    transition: all $ds44-timing-standard ease-in-out;
}

.ds44-blocBtnOnglets {
    padding-right: $ds44-padding-large;
    padding-top: $ds44-padding-ico;
    margin: 0;
}

.ds44-tabs + .ds44-inner-container > .ds44-partage {
    margin-top: -$ds44-padding-xxlarge; // annule le padding bottom de l'onglet
}


/* =======
  GENERIC MEDIA QUERIES
  === */


@media (max-width: $ds44-large - .0625) {

    .ds44-blocBtnOnglets {
        padding-right: 0;
        padding-top: 0;
        padding-bottom: $ds44-padding-large;
    }


}

@media (max-width: $ds44-small - .0625) {

    .ds44-navOnglets {
        width: 100%;
    }

    .ds44-tabs__list {
        padding: $ds44-padding-base/2 $ds44-padding-large $ds44-padding-large+0.5 $ds44-padding-large;
    }

    .ds44-tabs__link {
        font-size: 1.125em; /* 18px */
        padding: 1.5rem .5rem;
    }

    .ds44-blocBtnOnglets {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 0;
        margin: 0;

        > .ds44-ongletsBtnItem {
            flex-grow: 1;
            border-right: 1px solid $ds44-light;
            border-left: 1px solid $ds44-light;
            margin-left: 0;
            margin-right: 0;
            width: 33%;

            &:first-child {
                border: 0;
            }
            &:last-child {
                border-right: 0;
            }
            &:nth-child(3) {
                border-left: 0;
            }

            > .ds44-btnStd { // only buttons outside the overlay
                text-align: left;
                padding: 1rem 2.5rem 1rem 1rem;
                position: relative;
                min-height: 56px;
                line-height: 1.2;
                border-radius: unset;

                .icon {
                    font-size: 1rem;
                    margin-left: 1rem;
                    position: absolute;
                    z-index: 10;
                    right: .4rem;
                    top: 1.5rem;
                }
            }

            .ds44-btnStd { // all buttons within the panel
                width: 100%;
            }
        }
    }

}



/* Media Queries Print / Impression */
@media print {

    .ds44-tabs__content {
        opacity: 1 !important;
        display: block !important;
        clear: both !important;
        margin: 0;
        height: inherit;
    }

    .ds44-blocBtnOnglets {
        display: none !important;
    }

}
