/* ------------------------- */
/* ==DS44 Overlays           */
/* ------------------------- */

/* === Overlay === */

.ds44-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: auto;
    z-index: 10000;
    opacity: 0;
    transition: all .5s ease-in-out;

    &.show {
        opacity: 1;
    }
}

.ds44-overlay--navNiv1 {
    left: 0;
    top: -2500px;

    &.show {
        top: 0;
        opacity: 1;
    }
}

.ds44-overlay--navNiv2 {
    left: auto;
    top: 0;
    right: -2500px;
    z-index: 11000;

    &.show {
        right: 0;
        opacity: 1;
    }
}

.ds44-overlay--navFromBottom {
    bottom: -2500px;
    z-index: 11000;
    background-color: $ds44-light-color;

    &.show {
        bottom: 0;
        opacity: 1;
    }
}

.ds44-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.ds44-modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .66);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all $ds44-timing-standard ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ds44-navListApplis {
        margin: 0;
    }
}

.ds44-modal-box {
    width: 96%;
    max-width: $ds44-large;
    padding: $ds44-padding-box $ds44-padding-xlarge;
    background-color: $ds44-light-color;
    position: relative;
    z-index: 10;
    max-height: 90vh;
    overflow-x: auto;
}

.ds44-modal-gab {
    padding: $ds44-padding-box;
    margin-top: $ds44-padding-box;
}

.ds44-modal-column {
    padding-right: $ds44-padding-xxlarge;

    &:last-child {
        border-left: 2px solid #000;
        padding-right: 0;
        padding-left: $ds44-padding-xxlarge;
    }

    & form {
        margin: 0;
    }
}

.ds44-btn-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* === Marker Map overlay === */

.ds44-mapResults .mapboxgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 0;
    pointer-events: auto;

    & .ds44-js-card {
        cursor: pointer;
        z-index: 700;
        position: relative;
        background: #ffffff !important;
        margin: 0 !important;

        .ds44-cardTitle {
            font-size: 1.7rem;
        }

        &.ds44-cardIsFocus {
            background-color: #99E6D1 !important;
            border-color: #666;
        }

        .ds44-docListElem {
            margin-top: 1rem !important;
        }

        .ds44-flex-container {
            flex-direction: column;
        
            .ds44-card__dateContainer {
                flex-direction: row;
                min-height: 8rem;
                font-size: 1.25em;
                align-items: center;

                > * {
                    margin: 0 .5rem;
                }
            }
        }

        .ds44-cardDate, .ds44-cardLocalisation {
            font-size: 1em;
        }
    }

    & .mapboxgl-popup-close-button {
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 1000;
        font-size: 1.4em;
        height: 30px;
        width: 30px;
        display: none;

        &:hover {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

@media (max-width: $ds44-large) {
    .ds44-modal-column {
        padding-bottom: $ds44-padding-large;
        padding-right: 0;
        padding-left: 0;

        &:last-child {
            border-left: none;
            border-top: 2px solid #000;
            padding-top: $ds44-padding-large;
            padding-left: 0;
        }
    }

    .ds44-modal-box {
        padding: $ds44-padding-box $ds44-padding-medium;
    }
}

@media (max-width: $ds44-tiny) {
    .ds44-modal-box {
        h1.h2-like {
            max-width: 80%;
            display: inline-block;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - 16px), $ds44-contextual-color 0px);
        }
    }
}

/* Orejime */
#orejime {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all $ds44-timing-standard ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;


    .orejime-AppContainer {

        .orejime-Notice {
            background-color: $ds44-light;
            box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.35);
            width: 100%;
            max-width: 64em;
            padding: 1.5rem 3rem;
            position: relative;
            z-index: 10;
            max-height: 90vh;
            overflow-x: auto;
            border-radius: 0;
            bottom: 0;
            right: 0;


            .orejime-Notice-logoContainer {
                text-align: center;
            }

            .orejime-Notice-description {
                color: $ds44-color-base;
                font-family: $ds44-font-family-base;
                font-size: 1.4rem;
            }

            .orejime-Notice-purposes {
                color: $ds44-color-base;
            }

            .orejime-Notice-actions {
                padding: 0;
                text-align: center;

                .orejime-Button {
                    background-color: $ds44-light;
                    border-color: $ds44-color-base;
                    color: $ds44-color-base;

                    &.orejime-Button--save {
                        background-color: $ds44-contextual-color;
                        border-color: $ds44-contextual-color;
                    }
                }

                .orejime-Notice-actionItem--decline {
                    display: none;
                    visibility: hidden;
                }
            }

            .orejime-Notice-body {
                padding-top: 0em;
            }

        }
    }

    .orejime-ModalPortal {


        .orejime-ModalOverlay {

            background-color: rgba(0, 0, 0, .66);
            padding: 3rem;

            .orejime-ModalWrapper {
                background-color: $ds44-light;
                width: 100%;
                max-width: 64em;
                padding: 1.5rem 3rem;
                position: relative;
                z-index: 10;
                max-height: 90vh;
                overflow-x: auto;
                border-radius: 0;
                box-shadow: none;
                bottom: 0;
                right: 0;
            }

            .orejime-Modal {
                font-family: $ds44-font-family-base;
                background: $ds44-light;
                color: $ds44-color-base;
                border-radius: 0;
                box-shadow: none;

                .orejime-Modal-title {
                    @include ds44-font-sizes(h2);
                    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
                      font-family: $ds44-font-family-headings;
                    }
                    font-weight: $weight-bold;
                    padding: 0 1.5rem;
                    line-height: 1.2;
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 55%,$ds44-contextual-color 55%);
                    display: inline;
                }

                .orejime-Modal-description {
                    margin-top: 2rem;
                }

                .orejime-Modal-body {
                    padding: 2rem 2rem 3rem 2rem;
                    border: 1px solid $ds44-contextual-color;

                    .orejime-AppItem-input:checked + .orejime-AppItem-label .orejime-AppItem-slider {
                        background-color: $ds44-color-base;
                    }
                    .orejime-Button[disabled] {
                        background-color: $ds44-color-base;
                        border-color: $ds44-color-base;
                        opacity: 1;
                        filter: none;
                        color: $ds44-light;
                    }
                    .orejime-Button--info {
                        background: $ds44-light;
                        color: $ds44-color-base;
                    }
                }

                .orejime-Modal-saveButton {
                    background-color: $ds44-contextual-color;
                    border-color: $ds44-contextual-color;
                    color: $ds44-color-base;
                }

                .orejime-Modal-header,
                .orejime-Modal-footer {
                    border: 0;
                }

                .orejime-AppToggles {
                    .orejime-AppToggles-disableAll {
                        background-color: #ffffff;
                        color: $ds44-color-base;
                    }
                }

                .orejime-Modal-poweredByLink {
                    display: none;
                    visibility: hidden;
                }
            }

            .orejime-Modal-closeButton {
                color: $ds44-color-base;
            }
        }

    }

    button {
        @extend .ds44-btnStd;
        @extend .ds44-mobile-reduced-mb;
        color: $ds44-color-inverse;
        font-family: $ds44-font-family-base;
        font-size: 1.4rem;
        min-height: 2.4rem;
        cursor: pointer;

        &.orejime-Modal-closeButton {
            border: none;
            box-shadow: none;
        }

        * {
            cursor: pointer;
        }
    }
}
