/* ------------------------- */
/* ==DS44 Overlays           */
/* ------------------------- */

/* === Overlay === */

.ds44-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: auto;
    z-index: 10000;
    opacity: 0;
    transition: all .5s ease-in-out;

    &.show {
        opacity: 1;
    }
}

.ds44-overlay--navNiv1 {
left: 0;
top: -2500px;


    &.show {
        top: 0;
        opacity: 1;
    }
}

.ds44-overlay--navNiv2 {
    left: auto;
    top: 0;
    right: -2500px;
    z-index: 11000;


    &.show {
        right: 0;
        opacity: 1;
    }
}

.ds44-overlay--navFromBottom {
    bottom: -2500px;
    z-index: 11000;

    background-color: $ds44-light-color;

    &.show {
        bottom: 0;
        opacity: 1;
    }
}

.ds44-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.ds44-modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.66);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all $ds44-timing-standard ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ds44-navListApplis {
      margin: 0;
    }

}

.ds44-modal-box {
    width: 96%;
    max-width: $ds44-large;
    padding: $ds44-padding-box $ds44-padding-xlarge;
    background-color: $ds44-light-color;
    position: relative;
    z-index: 10;
    max-height: 90vh;
    overflow-x: auto;
}

.ds44-modal-gab {
    padding: $ds44-padding-box;
    margin-top: $ds44-padding-box;
}

.ds44-modal-column {

    padding-right: $ds44-padding-xxlarge;

    &:last-child {
        border-left: 2px solid #000;
        padding-right: 0;
        padding-left: $ds44-padding-xxlarge;
    }

    & form {
      margin: 0;
    }
}

.ds44-btn-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



/* === Marker Map overlay === */
//
// .simplemarker_container {
//   position: relative;
//
//   .simplemarker {
//     position: absolute;
//     z-index: 666;
//     width: max-content;
//     height: max-content;
//     text-align: left;
//     line-height: 1.3;
//     background-color: #ffffff;
//     box-shadow: $ds44-smallShadow;
//     font-size: 1.4rem;
//     left: 0.15rem;
//     bottom: 3.125rem;
//     max-width: 27rem;
//
//     &.bottom {
//       bottom: auto;
//       top: calc(100% + 2rem);
//       top: -webkit-calc(100% + 2rem);
//     }
//
//     &.left {
//       left: auto;
//       right: -0.15rem;
//     }
//
//     &[aria-hidden="true"] {
//       display: none;
//     }
//
//     &::before {
//       position: absolute;
//       left: 2.5rem;
//       bottom: -0.4375rem;
//       margin-left: -0.3125rem;
//       content: '';
//       speak: none;
//       z-index: 666;
//       width: 0.875rem;
//       height: 0.875rem;
//       pointer-events: none;
//       transform: rotate(45deg);
//       background-color: #ffffff;
//       box-shadow: none;
//       border-right: 0.0625rem solid #ccc;
//       border-bottom: 0.0625rem solid #ccc;
//     }
//
//     &.bottom::before {
//       bottom: auto;
//       top: -0.4375rem;
//       transform: rotate(225deg);
//     }
//
//     &.left::before {
//       left: auto;
//       right: 2.5rem;
//     }
//
//     & .ds44-js-card {
//       cursor: pointer;
//       z-index: 700;
//       position: relative;
//
//       [role="heading"]  {
//         padding-right: 1em;
//       }
//
//       &:hover {
//         [role="heading"] a {
//           text-decoration: underline;
//         }
//       }
//
//       & .ds44-imgRatio {
//         z-index: 700;
//       }
//
//       .ds44-cardSelect {
//           position: absolute;
//           top: 0;
//           right: 0;
//           z-index: 800;
//       }
//     }
//   }
// }


/* === Marker Map overlay NEW === */

.ds44-mapResults .mapboxgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 0;
    pointer-events: auto;

    & .ds44-js-card {
      cursor: pointer;
      z-index: 700;
      position: relative;
      background: #ffffff !important;
      margin: 0 !important ;

      .ds44-cardTitle {
          font-size: 1.7rem;
      }
    }

    & .mapboxgl-popup-close-button {
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 1000;
        font-size: 1.4em;
        height: 30px;
        width: 30px;

        &:hover {
            background-color: rgba(255, 255, 255, 1);
        }
    }

}




@media (max-width: $ds44-large) {


    .ds44-modal-column {
        padding-bottom: $ds44-padding-large;
        padding-right: 0;
        padding-left: 0;

        &:last-child {
            border-left: none;
            border-top: 2px solid #000;;
            padding-top: $ds44-padding-large;
            padding-left: 0;
        }
    }

    .ds44-modal-box {
        padding: $ds44-padding-box $ds44-padding-medium;
    }

}

@media (max-width: $ds44-tiny) {

    .ds44-modal-box {

        h1.h2-like {
            max-width: 80%;
            display: inline-block;
            background: linear-gradient(to bottom, rgba(255,255,255,0) calc(100% - 16px),$ds44-contextual-color 0px);
        }
    }

}
