/* ------------------------- */
/* ==DS44 Overlays           */
/* ------------------------- */

/* === Overlay === */

.ds44-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: auto;
    z-index: 10000;
    opacity: 0;
    transition: all .5s ease-in-out;

    &.show {
        opacity: 1;
    }
}

.ds44-overlay--navNiv1 {
left: 0;
top: -2500px;
display: none;

    &.show {
        top: 0;
        opacity: 1;
    }
}
  
.ds44-overlay--navNiv2 {
    left: auto;
    top: 0;
    right: -2500px;
    z-index: 11000;
    display: none;

    &.show {
        right: 0;
        opacity: 1;
    }
}
  
.ds44-overlay--navApplis {
    bottom: -2500px;
    z-index: 11000;
    display: none;
    background-color: $ds44-light-color;

    &.show {
        bottom: 0;
        opacity: 1;
    }
}
  
.ds44-modal-container.show {
    pointer-events: auto;
    opacity: 1;
    display: block;
}

.ds44-modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.66);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all $ds44-timing-standard ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.ds44-modal-box {
    width: 96%;
    max-width: $ds44-large;
    padding: $ds44-padding-box $ds44-padding-xlarge;
    background-color: $ds44-light-color;
    position: relative;
    z-index: 10;
    max-height: 90vh;
    overflow-x: auto;
}

.ds44-modal-gab {
    padding: $ds44-padding-box;
}