// Layout global styles


/* Main structure */

.ds44-container-fluid {
    position: relative;
    width: 100%;
}

.ds44-container-large {
    position: relative;
    max-width: $ds44-max-size;
    margin-left: $ds44-container-large-margin;
    margin-right: $ds44-container-large-margin;
}

.ds44-inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $ds44-max-inner-size;
  position: relative;
}

.ds44-homepage-container {

  .ds44-imgInsta {

    .ds44-legendeContainer {
      padding: 0;
      height: auto;

        img {
          height: 100%;
          object-fit: cover;
        }
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2em;
    width: 4rem;
    background: url(../../../assets/icons/long-arrow-down.svg) no-repeat ;
  }

}

main {
  padding-top: $header-height-large;
}

@media (max-width: $ds44-large - .0625) {

  main {
    padding-top: $header-height-medium;
  }

}

@media (max-width: $ds44-small - .0625) {

  main {
    padding-top: $header-height-small;
  }

}

@media (min-width: $ds44-extra-large) {

  .ds44-inner-container {
      max-width: $ds44-max-inner-size;
  }

}

.ds44-navContainer {

  padding-top: $ds44-components-vmargin*2;

  .ds44-inner-container {
    padding: 0 $ds44-padding-large;
  }
}

.ds44-container-fixed {
    position: fixed;
    width: 100%;
    left: 0;
}

.ds44-contenuArticle, .ds44-contenuMedia {
  margin: 0 auto $ds44-components-vmargin auto;
}

@media (max-width: $ds44-medium - .0625) {

    .ds44-container-relmob {
        position: relative;
    }

}

@media (max-width: $ds44-small - .0625) {

    .ds44-container-large {
        padding: 0 /*$ds44-mobile-margins*/;
    }

}

.ds44-pageHeaderContainer {
    position: relative;
    background-color: #777777; // for accessibility reasons (in case of no image)

    &--deuxCol {
      display: flex;
    }
    &__left {
      width: 70%;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      position: relative;
    }
    &__right {
      width: 30%;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;

      hr {
        margin: 1em 0 1em;
        background-color: #939393;
      }
    }
}

.ds44-titleContainer {
    position: relative;
    bottom: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 460px;

    &--home {
      min-height: 620px;

      .ds44-alphaGradient--header {
        height: 50%;
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 0;
      }

    }
}

.swipper-carousel-wrap--homepage {

  .h1-like {
    padding: 10rem 3rem 5rem 3rem ;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    font-weight: normal;
  }

}





.ds44-pageHeaderContainer__pictureContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.ds44-pageHeaderContainer--deuxCol .ds44-bgGray{
      width: 100%;
  }


.ds44-introduction, .ds44-introduction-like, .ds44-component-chapo {
    @include ds44-font-sizes(chapoStyle);
    background: transparent;
    font-weight: $weight-bold;
    margin-top: $ds44-large-vmargin;
    margin-bottom: $ds44-large-vmargin;
}

/* Links */

.ds44-rsLink {
    padding: $ds44-padding-box;
}

/* Texts */

.ds44-text--colorInvert {
    color: $ds44-light-color;

    a {
      color: $ds44-light-color;
    }

}

.ds44-exergue {
    border: 1px solid $ds44-contextual-color;
    padding: $ds44-padding-box $ds44-padding-xlarge;
    margin: $ds44-components-vmargin auto;
}

.ds44-smallText {
  @include ds44-font-sizes(smallText);
}

.ds44-component-chapo {
  max-width: 50%;
}


/* Liste resultats recherche facettes */
/* -------Resultats sans carte - liste de tuiles */
.ds44-results {
  overflow: hidden;
  display: block;

  .ds44-innerBoxContainer--list {
    width: 100% ;
    transition: all $ds44-timing-x2 $ds44-transition-std;
  }

  .ds44-list {
    &--results {
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom:  $ds44-padding-xlarge*2;

      li {
        display: grid;
        align-items: stretch;
        margin: $ds44-medium-vmargin;
        margin-bottom: 0 ;
      }
    }
  }
  .ds44-mapResults {
    display: none;
    transition: all $ds44-timing-x2 $ds44-transition-std;
      position: relative;

      .ds44-js-map {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;


      }
  }
}
.ds44-mapResults {
  .ds44-map-marker {
      background: url('../../../assets/images/cd44-marker-big-black.svg') no-repeat center center transparent;
      background-size: cover;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: block;

      &:hover,
      &:active,
      &:focus,
      &--active {
          background-image: url('../../../assets/images/cd44-marker-hover-big-black.svg');
      }
  }
}

/* -------Resultats avec carte - tuiles en colonne gauche avec carte à droite */
.ds44-results {

  &--mapVisible {

    height: 80vh;
    display: flex;
    overflow: hidden;

    .ds44-innerBoxContainer--list {
      width: 33.333333% ;
      transition: all $ds44-timing-x2 $ds44-transition-std;
      overflow-y: scroll;
    }

    .ds44-list {
      &--results {
        flex-direction: column;

        li {
          display: inherit;
        }
      }
    }
    .ds44-mapResults {
      display: block;
      width: 66.666666% ;
      transition: all $ds44-timing-x2 $ds44-transition-std;
    }
  }

}



/* =======
  GENERIC MEDIA QUERIES
  === */

@media (max-width: $ds44-extra-large - .0625) {

  .ds44-titleContainer {
    min-height: 340px;

    &--home {
      min-height: 620px;
    }
  }

}

@media (min-width: $ds44-large) {

  .ds44-homepage-container > div{
    height: 620px;
  }

}

@media (max-width: $ds44-large - .0625) {

  aside {
      margin-top: $ds44-components-vmargin;
  }

  .ds44-container-large {
      margin: 0 $ds44-components-vmargin;
  }

  .ds44-homepage-container > div{
    grid-template-columns: repeat(1, 1fr);

    .ds44-titleContainer {
        &--home {
          min-height: 450px;
        }
    }
  }

  /* Liste resultats recherche facettes */
  .ds44-results {
    &--mapVisible {

      .ds44-innerBoxContainer--list {
        width: 50% ;
      }
      .ds44-mapResults {
        width: 50% ;
      }
    }
  }

}

@media (max-width: $ds44-medium - .0625) {

  .ds44-pageHeaderContainer {

      &--deuxCol{
        display: block;
      }

      &__left,
      &__right {
        width: 100%;
      }
  }

  /* Liste resultats recherche facettes */
  .ds44-results {

    .ds44-list--results li {
      margin: 0 ;
      display: grid;
    }

    &--mapVisible {
      display: block;

      .ds44-innerBoxContainer--list {
        width: 100% ;
      }
      .ds44-mapResults {
        width: 100% ;
      }
    }
  }


}

@media (max-width: $ds44-small - .0625) {


  .ds44-titleContainer {
    min-height: 250px;

    &--home {
      min-height: 370px !important;
    }
  }

  .ds44-container-large {
      margin: 0 $ds44-margin-base;
  }

  .ds44-component-chapo {
      max-width: 85%;
      display: none;
  }

}

@media (min-width: $ds44-max-size) {

    .ds44-container-large {
      margin: 0 auto;
      padding-left: $ds44-container-large-margin;
      padding-right: $ds44-container-large-margin;
    }

}
