/* ---------------------------------------- */
/* == Styles dédiés au rendu wysiwyg         */
/* ---------------------------------------- */

.ds44-contenuArticle h2:not(.h3-like) + * {
    margin-top: $ds44-components-vmargin;
}

.ds44-contenuArticle {
    p + p,
    ul:not(.ds44-list):not(.ds44-collapser) + section,
    ul:not(.ds44-list):not(.ds44-collapser) + p {
      margin-top: $ds44-medium-vmargin ;
    }
    p + .h3-like,
    p + h3,
    ul:not(.ds44-list):not(.ds44-collapser) + h3,
    ul:not(.ds44-list):not(.ds44-collapser) + .h3-like,
    p + .h4-like,
    p + h4 {
      margin-top: $ds44-components-vmargin ;
    }
    ul:not(.ds44-list):not(.ds44-collapser) > li {
      margin-top: 0;
    }
}

blockquote {

    border-left: 1px solid $ds44-contextual-color;
    padding: 0 $ds44-padding-xxlarge;
    margin-bottom: $ds44-medium-vmargin;

    &::after, &::before {
        @include ds44-font-sizes(quotes);
        color: $ds44-contextual-color;
        font-family: $ds44-font-family-headings;
        font-weight: bold;
        position: absolute;
        height: .4em;
        line-height: .9;
    }

    &::before {
        left: 1.5rem;
        top: .5rem;
    }

    &::after {
        content: "\201D";
        right: 1.5rem;
        bottom: .5rem;
    }

}

.ds44-wsg-encadreContour {
    padding: $ds44-padding-xlarge;
    border: 1px solid $ds44-contextual-color;
}

.ds44-wsg-encadreApplat {
    padding: $ds44-padding-xlarge;
    background-color: $ds44-contextual-color;
}

.ds44-wsg-encadreGris {
    padding: $ds44-padding-xlarge;
    background-color: $ds44-light-bg;
}

.ds44-wsg-smallText {
  @include ds44-font-sizes(smallText);
}

.ds44-wsg-exergue {
    font-weight: bold;
    background-color: $ds44-contextual-color;
    padding: .5rem 1rem;
    display: inline-block;
    margin: 1.5rem 0 1rem 0;
}

/* Tables */

table.ds44-tableau_1col,
table.ds44-tableau_2col,
table.ds44-tableau_3col,
table.ds44-tableau_4col,
table.ds44-tableau_5col {
    width: 100%;
}

table.ds44-tableau_1col tr {
    width: 100%;
}
table.ds44-tableau_2col tr {
    width: 50%;
}
table.ds44-tableau_3col tr {
    width: 33%;
}
table.ds44-tableau_4col tr {
    width: 25%;
}
table.ds44-tableau_5col tr {
    width: 20%;
}

@media (max-width: 64em) {
  .col.mrl ,
  .col.mll {
      margin-left: 0;
      margin-right: 0;
  }
}
