<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://www.loire-atlantique.fr/css/csspacker.jsp?v=20190307024550&amp;css=css%2Fprint.css" type="text/css" media="print">
  <link rel="stylesheet" href="https://www.loire-atlantique.fr/css/csspacker.jsp?v=20190307024550&amp;css=js%2Flib%2Fjscal2%2Fcss%2Fjscal2.css&amp;css=js%2Flib%2Fjscal2%2Fcss%2Fborder-radius.css&amp;css=js%2Flib%2Fjscal2%2Fcss%2Fsteel%2Fsteel.css&amp;css=js%2Flib%2Fjscal2%2Fcss%2Freduce-spacing.css&amp;css=css%2Fjalios%2Fcore%2Fcore.css&amp;css=css%2Fjalios%2Fcore%2Fresponsive.css&amp;css=css%2Ffff-sprite.css&amp;css=css%2Fjalios%2Fcore%2Flang.css&amp;css=css%2Flib%2Fanimate%2Fanimate-custom.css&amp;css=css%2Fcustom.css&amp;css=custom%2Fcss%2Fstandard.css&amp;css=css%2Fwysiwyg.css" type="text/css" media="all">
  <link rel="stylesheet" href="{{ "/assets/css/www.css" | prepend: site.baseurl }}">

  <!-- DS template -->
  <link rel="stylesheet" href="{{ "/assets/css/icon-preview.css" | prepend: site.baseurl }}">

  <title>Pattern</title>
</head>
<body>
  <div class="container-fluid">
      {{ content }}
  </div>

  <!-- Necessary for resizing patterns iframe, if pattern has big height -->
  <script src="{{ "/assets/js/vendor/iframeResizer.contentWindow.min.js" | prepend: site.baseurl }}"></script>

</body>
</html>

